[2021-06-24 16:04] dkm412 opened #1 "Ledger Sync Window"
while connecting the ledger and if waiting for commands, there is a loading screen.

[2021-06-28 18:14] Crypto2099 opened #2 "FR: Add Ability to Send Multiple UTXO in a Single Transaction"
TYPE: Feature Request

One critical piece that I feel all Cardano wallets currently lack is the ability to send multiple UTXO in a single transaction.

I would love to have the ability to "build" a transaction by adding multiple receive addresses and building unique token bundles (Ada and/or optionally native assets) to be sent. Particularly as we start to see novel native asset utility it may bec

[2021-06-28 18:17] Crypto2099 opened #3 "Add a "Send Another" Button to the Sending Screen"
Once successfully submitting a transaction one needs to refresh the window or go to another "tab" (i.e. Summary, Transactions, etc) in order to refresh the "Send" form and send a new transaction. Currently, clicking on the "Send" tab simply leaves you at the transaction confirmation.

I think making either/both: Clicking the "Send" tab takes you back to the "New Send" form and/or adding a "New Tra

[2021-06-28 18:19] Crypto2099 opened #4 "Autocomplete/Remember Password Currently Works"
Currently testing the wallet in Google Chrome (have not tested other browsers) when setting up the wallet and creating a spending password Google Chrome is giving the opportunity to save the password. This seems like a potential security vulnerability that should be disabled (if possible).

![image](https://user-images.githubusercontent.com/63186174/123684742-b1d51c80-d802-11eb-9401-436fb0abdf35.p

[2021-06-28 18:21] Crypto2099 opened #5 "Sometimes Fee Calculation Does Not Trigger"
It seems like sometimes the wallet does not trigger the "Calculate Fee" portion and so no fees are shown/calculated when building a new send transaction. This disables the "next" button and makes it impossible to proceed with building the transaction. I have not tested exhaustively but it seems like once a specific amount of Ada creates this "lock up" condition, no amount of deleting/changing back

[2021-06-28 18:24] Crypto2099 opened #6 "Deleting Ada Value in Send Transaction Creates Weird Cursor Placement"
Currently, after a min value is calculated for a transaction or you type in a custom amount and then delete it the Ada amount input resets to 0.000000 with the cursor by default at the far left of the input. This causes unexpected behavior when you click into the input and begin typing as whatever amount you type is appended to have an extra zero on the end (i.e. attempting to send 50 Ada all of a

[2021-06-28 18:28] Crypto2099 opened #7 "FR: Add "Typeahead" Functionality for Token Selection"
The current display of native tokens when building a send transaction is pretty good, and I appreciate seeing both the Asset ID as well as the ASCII name of the token. However, in my experience "Drop Downs" are cumbersome to use when dealing with dozens if not hundreds of potential entries in the wallet.

I would recommend using a "Typeahead" functionality to the token selection input for the sake

[2021-06-28 19:29] ccwalletio commented on #7
You can now filter by asset id or name.

[2021-06-28 20:01] ccwalletio commented on #6
Fixed that one. Input field is now actually emptied and one the background placeholder remains.

[2021-06-28 20:02] ccwalletio commented on #5
Added some more debugging console.logs. It's not really reproducable even if I have it sometimes as well.

[2021-06-28 20:10] Crypto2099 opened #8 "Usability Issue: Strange Refresh Behavior"
If you go to the "Send" pane and then refresh the page (F5) the wallet will reload and you can select the wallet and it will default to the summary view but the "Send" tab is still highlighted/selected. Clicking on the "Send" tab will not open the send transaction interface until you click onto one of the other tabs and then back to send.

![image](https://user-images.githubusercontent.com/6318617

[2021-06-28 20:19] Crypto2099 opened #9 "Wallet Balance/UTXO does not update without a refresh"
The wallet balances do not update automatically, this requires completely refreshing the window to update the wallet balance.

[2021-06-28 20:34] Crypto2099 commented on #7
This looks good but leaves a weird artifact when a token has been selected

![image](https://user-images.githubusercontent.com/63186174/123700597-8a3b7f80-d815-11eb-89cd-047a812338db.png)

[2021-06-28 20:35] Crypto2099 commented on #7
Also a minor quality of life improvement here might be to have a "Send All"/sigma button on the amount field so I can click a button rather than having to type "1" for each NFT I'm sending.

[2021-06-29 16:15] angelstakepool opened #10 "Need for undelegate functionality"
There is a need an undelegate wallet functionality (unregister stake address)

[2021-06-29 16:24] angelstakepool opened #11 "Restoring a wallet needs button-like functionality for the suggested words"
When entering the words of the seed, as we type, we would see the matching suggestions.  We need to be able to click on the right word.  The only way to achieve this now is by using the clipboard

[2021-06-30 06:50] gitmachtl opened #12 "2FA security for wallet login / spending"
would be a great separation from the currently available wallets if the users can use 2FA to log into the ccwallet and/or also for spending. this would also give the opportunity to have multiple users using the same computer (mainuser, brother, wife, husband, kids...) all with there own 2FA.

[2021-06-30 06:53] gitmachtl opened #13 "Testnet-Explorer link for the Testnet-Chain"
Please change the autogenerated link to check the TX-ID from cardanoscan.io (default for mainnet) to https://explorer.cardano-testnet.iohkdev.io/en for the Testnet-Chain.

[2021-06-30 06:56] gitmachtl commented on #12
this feature also drastically improves the privacy issue

[2021-06-30 07:19] gitmachtl opened #14 "Rewards export function"
A function to export all the rewards from epoch x->y, maybe in a .csv and/or .json format. Maybe also with the currently price at that timestamp?

[2021-07-01 15:38] Scitz0 commented on #1
There is a notice before you click next/confirm with instructions. But we can add the same information to the loading screen to make it clearer.

[2021-07-02 12:34] Scitz0 commented on #1
To be included in an upcoming release, closing issue.

[2021-07-02 12:34] #1 closed, assigned to nobody

[2021-07-02 13:06] Scitz0 commented on #3
Solved by transferring the user to the transactions page after successful submission. In case of error, a retry button is added that takes you back to confirm page. Waiting to close until fully implemented.

[2021-07-02 13:07] Scitz0 commented on #5
We have identified a couple of issues related to this and fixed some. But a re-write of wallet switching logic needs to be completed before we can continue to verify if this is fully solved or not.

[2021-07-02 13:09] #6 closed, assigned to nobody

[2021-07-02 13:10] Scitz0 commented on #7
Sigma button added and to be included in an upcoming release. The blue border/ring on the search field on focus is also fixed.

[2021-07-02 13:10] #7 closed, assigned to nobody

[2021-07-02 13:18] Scitz0 commented on #12
The idea is to add a pin wallet locking feature in addition to the spending password that will lock the wallet and hide the amount.

[2021-07-02 13:19] Scitz0 commented on #13
To be included shortly in an upcoming release, closing for now.

[2021-07-02 13:19] #13 closed, assigned to nobody

[2021-07-02 14:19] gitmachtl commented on #12
My suggestion would be to use TOTP and Yubikey identification for the "login" and also for the spending password. People are used to that workflow nowadays for all the exchanges and online platforms.

[2021-07-05 06:53] Scitz0 commented on #9
Fixed with 30s wallet refresh.

[2021-07-05 06:53] #9 closed, assigned to nobody

[2021-07-05 06:56] MarcelKlammer commented on #8
Navigation should be fine now, even when switching wallets using the arrow in the top left.

[2021-07-05 06:57] MarcelKlammer commented on #5
Should be gone. Please test a bit more.

[2021-07-05 07:00] MarcelKlammer commented on #4
Not sure about this one. I can see the issue, but it's a user usability feature in the browser. Need to think more about it.

[2021-07-05 10:12] MarcelKlammer opened #15 "FR: multi-delegation"
### IOG developments

ccwallet.io should get a multi-delegation feature, which is compatible with current developments by IOG.

There is a pull request for CIP-0018 with some implementation details here:
https://github.com/cardano-foundation/CIPs/pull/83

CIP-0018 conclusion:

+ Add a UTxO pointer to a stake chain derived enterprise address to know which stake key to register next
+ If a transacti

[2021-07-09 10:34] ccwalletio commented on #3
Once a tx was submitted and it pending the UI switches to the transaction list.

[2021-07-09 10:34] #3 closed, assigned to nobody

[2021-07-09 10:34] #5 closed, assigned to nobody

[2021-07-09 10:35] ccwalletio commented on #10
Implemented for single delegation.

[2021-07-09 10:35] #10 closed, assigned to nobody

[2021-07-09 10:36] ccwalletio commented on #8
Switching wallets will result in switching to summary for unlocked wallets and settings for locked wallets.

[2021-07-09 10:36] #8 closed, assigned to nobody

[2021-07-09 19:32] Crypto2099 opened #16 "FR: Allow selecting of tokens to send from the overview screen"
Just a thought on a quality of life improvement. When reviewing a large-scale NFT/Token collection, give a checkbox or similar to select multiple tokens to send that will auto-populate the "send" transaction screen with the tokens already selected (we can still choose quantities from the send screen to keep things streamlined).

[2021-07-09 19:47] Crypto2099 opened #17 "No alert/feedback with incorrect spending password"
When a user types in an incorrect spending password the field just goes blank and nothing happens. Need some sort of warning/feedback there.

[2021-07-10 01:30] defender2803 opened #18 "cosmetics/add features - nice to have"
More things I looked at.

When looking at the stake pools you can copy the address...can you put a button to go to a pool site such as adastat.net or pool.pm? Some use a little box with an arrow or maybe some other link type gizmo icon.

Saturation bar has red, orange, and green
Pledge bar has green, orange, and blue
Think pledge bar should have blue and two other colors...not hot pink preferably.

[2021-07-13 13:52] Scitz0 commented on #17
Fixed.

[2021-07-13 13:52] #17 closed, assigned to nobody

[2021-07-13 17:21] Scitz0 commented on #18
Thanks for the suggestions. As I found all of your requested changes valid I think I got them all included. Should be available shortly.

[2021-07-13 17:22] #18 closed, assigned to nobody

[2021-07-23 11:31] Scitz0 commented on #16
Implemented and deployed with 1.0.2 release.

[2021-07-23 11:31] #16 closed, assigned to nobody

[2021-07-23 11:31] Scitz0 commented on #11
Implemented and deployed

[2021-07-23 11:31] #11 closed, assigned to nobody

[2021-07-23 11:31] Scitz0 commented on #2
Implemented and deployed

[2021-07-23 11:31] #2 closed, assigned to nobody

[2021-07-24 14:03] hodlonaut opened #19 "Suggestions for improvement"
In no particular order:

* Staking section as a part of pool description rectangle should have an indicator for multi-pool operator e.g. (1 of X) where X is the number of pools in that brand/cluster to make it even more clearer to delegators where the single pool operators are.
* Add some information to the Staking section heading related to the fact that multi-pools are having penalties applied i

[2021-07-28 18:16] ccwalletio commented on #19
+ Added multi pool indicator, eg. (1/2), also added a green check mark for single pool operators.
+ Added notice, that multi pools get a penalty.
+ Pledge bar is now one color, expect for pledge not met (red + alert icons + red border)
+ Removed delegation button for pledge not met.
+ Removed actual pledge and added check mark for pledge met.
+ Added notice for not enough funds, removed password f

[2021-07-28 18:31] ccwalletio commented on #19
+ Click on address copies it, click on share opens qr code.

[2021-07-28 18:35] ccwalletio commented on #19
Still open:

+ Instead of thousands of rectangles mirroring Daedalus interface, provide tabular view similar to pooltool.io with sortable columns in Staking section. Also desperately missing are filters e.g. if I want to just see pools with a variable fee between X and Y, and so on.
+ Would be good to know how the current pool rankings are calculated (ideally in a more detailed way than adapools.o

[2021-08-03 14:41] nicolasayotte opened #20 "Brave SHIELDS"
Wallet updating does not currently work if the Brave SHIELDS is on with those settings:
![image](https://user-images.githubusercontent.com/7725061/128035178-cf4880b4-f051-424a-a6ea-a30594a07e65.png)

 I need to turn it off for the ccwallet app site for sync to work.

[2021-08-03 19:29] kawanua-pool opened #21 "Multi asset and multi address transaction"
My suggestion is to made this wallet that can sent more than one native token to more than one wallet address. This will be cool!

[2021-08-08 07:44] ccwalletio commented on #20
Thanks for the info. We will take a look.

[2021-08-08 07:45] ccwalletio commented on #21
An advanced tx builder is on our list. Thanks for the suggestion.

[2021-08-13 16:22] rknightion opened #22 "Feature request: Multiple Accounts"
This wallet is off to an awesome start, and I'm finding it a pleasure to use compared to my usual routine.
However, the one request I have for the roadmap is multiple accounts. Adalite currently has this (https://adalite.medium.com/multi-account-support-and-partial-delegation-fd96aa793f9d), and as the SPO ecosystem grows with more innovative things such as ISOs, delegators are likely to want to sp

[2021-08-14 20:11] angelstakepool opened #23 "address verification when sending"
It would be great to see the address where sending funds at the time of signing the tx with ledger devices, so that we can visually verify that both addresses (web interface and ledger screen) are the same

[2021-08-14 20:13] angelstakepool opened #24 "Withdraw rewards when sending funds"
The functionality of withdrawing rewards when sending funds comes handy.  This could be defined as an optional parameter (checkbox)

[2021-08-17 17:54] MicroProofs opened #25 "Support Stellarhood NFTs"
Is it possible for you to add support to the wallet for  NFTs that have a src=base64 html data?

If you need more details let me know so I can update this post.

[2021-08-28 13:05] Scitz0 opened #26 "Fix pool retire status"
Pool list currently doesn't handle edge cases correctly where a pool retire is invalidated by a later pool update.

We need to check that latest retire announced_tx_id doesn't have a pool update with a registered_tx_id that is higher.

[2021-09-01 08:44] Crypto2099 opened #27 "Add support for web+cardano links"
An easy and rudimentary form of "dApp" connection would be to enable CC Wallet to somehow support and integrate with web+cardano links if possible so that sales pages could provide a "one-click" buying experience for users.

[2021-09-01 08:55] PhilippeLeLong opened #28 "Minor typo"
In the receive tab it should say INTERNAL change address (not delegated):

![grafik](https://user-images.githubusercontent.com/67224145/131642388-e578c531-4b65-4f15-80f3-8458082e3f14.png)

BTW, love that you included enterprise addresses!!!

[2021-09-03 08:13] refi93 opened #29 "Upcoming Trezor and Ledger Cardano updates"
Hi, this is a heads-up from the developers of Trezor and Ledger Cardano apps - there will be breaking changes in their APIs (not directly related to Alonzo HF yet, but kind of a preparation for it) in the upcoming days/weeks and you will need to update to the latest versions of the respective libraries to support the updated versions of Ledger/Trezor which wouldn't work with the older libraries:

[2021-09-06 14:59] refi93 commented on #29
The update of connect.trezor.io will happen on Sept 8 at 4PM CEST (confirmed [here](https://github.com/trezor/connect/pull/841#issuecomment-913698138)) - please make sure to release ccwallet.io updated to interact with the new connect as soon as the updated connect.trezor.io is out

During the transition, until you update ccwallet.io to use the new connect, Trezor transaction signing will be faili

[2021-09-07 13:26] pmcl77 opened #30 "Feature Request: Compact Send View"
I would like to see an option of a compact "1-page view" for sending ADA/Tokens, instead of having to go through multiple pages to send.

This page should include:
- Send-to Addr
- Amount ADA / Add Tokens
- Message
- Spending Password

If it would get too cramped, I could see the summary, spending password and confirm button on a separate page.

Thanks and keep up the good work!

[2021-09-07 13:33] pmcl77 opened #31 "Keep entered send data when switching wallets"
I am not sure if this is a bug, a technical limitation, a security feature or a missing feature.

When I have entered data to send assets in Wallet A and switch to another wallet before sending the transaction, it will reset all entered information and I have to start over.

If possible, it would be a great feature to keep this information available even when switching between wallets. There could

[2021-09-09 16:11] pmcl77 commented on #4
But as a chrome user you can always say "never" when asked to save passwords, or was this different for you with ccwallet?

[2021-09-12 15:59] cardanians opened #32 "FR: Editable pool explorer link in pool section"
I like using ccwallet, but I would really like to be able to link to adapools.org in the pool overview, or some native explorer options. Actually is here only crdanoscan.

[2021-09-12 19:13] pmcl77 opened #33 "Feature Request: Export Transactions to CSV (including NFT Data)"
It would be great to see an export function, to export all transactions into a csv file. Espacially including Data on Tokens/NFTs.

My goal is to housekeep my purchases and sales of NFTs.

So basically it would be great to have a list which besides the basic transaction data includes info on:
- Token Name
- Token Fingerprint
- Pool.pm URL
- Token Price (if it can be determined)

I understand it mi

[2021-09-13 05:06] ccwalletio commented on #28
Thanks for reporting, done.

[2021-09-13 05:06] #28 closed, assigned to nobody

[2021-09-13 05:07] ccwalletio commented on #27
https://cips.cardano.org/cips/cip13/

[2021-09-13 09:52] pmcl77 opened #34 "Feature Request: Transaction List for All/Multiple Wallets"
I would love to see a transaction list for all or selected (by a filter option) wallets.

[2021-09-20 15:07] ccwalletio commented on #34
Do you mean a combined tx list of all open wallets?

[2021-09-20 15:22] pmcl77 commented on #34
Yes, exactly... There could maybe be an option to filter for certain wallets or wallet groups.

[2021-09-25 22:31] TrevorBenson commented on #4
Leaving the saved password option in a lite, browser based, crypto wallet that does not require any other authentication or implement any other security to safeguard from theft should not take much effort to review and make a decision. Taking a moment to review:

A bad actor can:
1. Open ccwallet.io
2. Select the mnemonic wallet from the list.
3. Click on send
4. Fill in the address, the amount.
5

[2021-10-03 19:11] Treawlony opened #35 "Feature Request: Dark Mode"
What else? :D

[2021-10-11 07:36] wout opened #36 "Confusing chrome-extension popup using Firefox and a Ledger wallet"
Today I made my first payment with ccwallet and I love it. There's only this rather confusing popup:

![image](https://user-images.githubusercontent.com/107324/136749352-737b0da1-a7c4-48b4-8376-005d501dfffc.png)

It's totally unnecessary because it can be ignored while using the Ledger wallet.

I'm using Firefox 93.0 on elementary OS 6.0 (based on Ubuntu 20.04) and a Ledger Nano S.

[2021-10-12 18:22] MarcelKlammer commented on #36
I've no idea where this is coming from.

My guess: you have a link type setting, that opens that popup.

Never seen this before.

[2021-10-14 07:27] wout commented on #36
Me neither :joy: . It's only with ccwallet. Adalite and Yoroi don't show this popup. It's also only with Firefox, in Brave and Chromium it's working fine. Looking at the configured protocol handlers in Firefox I can't see anything unusual.

Is there anything I can do to debug this?

[2021-10-18 06:50] wout opened #37 "Pool information is not always correct"
The information of my pool in the staking dashboard is not shown correctly:

![image](https://user-images.githubusercontent.com/107324/137682248-28517055-9016-4f76-a730-40465f9ae7ff.png)

The pledge should be 1.5k and the fees 1%.

[2021-10-20 19:16] NicolasDP opened #38 "Support for custom metadata while preparing transaction"
It would be really useful to be able to add custom metadata while preparing the transaction:

<img width="236" alt="Screenshot 2021-10-20 at 20 13 44" src="https://user-images.githubusercontent.com/5445840/138157136-8d5a4137-2f8e-42c9-81d9-7ce4aeac7020.png">

For example, I know that being able to add these: https://github.com/cardano-foundation/CIPs/blob/09d7d8ee1bd64f7e6b20b5a6cae088039dce00cb/C

[2021-10-21 16:52] Awashbu12 commented on #38
Isn't that what the add a message spot does?

[2021-10-21 17:05] Awashbu12 opened #39 "BUG--Safari tries to create new passwords"
On iPhone every time I get to the password screen iPhone thinks I want to make a new and puts up the recommended password thing.. can you fix the password screen to get the browser to recognize it is a password input and not a create? I've attached a photo showing what I mean.
![image](https://user-images.githubusercontent.com/90179060/138324467-e5917272-e17f-4a50-a224-78123888c5b7.png)

[2021-10-24 16:59] santonode opened #40 "Feature Request: IPhone and Android mobile app"
Feature Request: will there ever be a mobile app version?

[2021-10-26 04:26] #29 closed, assigned to nobody

[2021-10-26 07:55] janmazak opened #41 "Update of ledgerjs"
Hi, the Cardano Ledger app has an upcoming update (v.3.0.0) to support script elements in transactions, native scripts and multisig (see CIP 1854). The changes in transaction signing are breaking because stake credentials with script hashes are allowed now.  The corresponding ledgerjs update v4.0.0 also comes with some breaking changes in the API:
https://github.com/vacuumlabs/ledgerjs-cardano-she

[2021-10-27 11:43] janmazak commented on #41
Ledgerjs v4.0.0 is ready:
https://github.com/cardano-foundation/ledgerjs-hw-app-cardano/releases/tag/v4.0.0

[2021-10-27 12:41] janmazak commented on #41
Also available via npm:
https://www.npmjs.com/package/@cardano-foundation/ledgerjs-hw-app-cardano

[2021-10-28 16:11] NicolasDP commented on #38
@Awashbu12 , not really. The _message spot_ does only add the `674` metadata:

https://github.com/cardano-foundation/CIPs/blob/09d7d8ee1bd64f7e6b20b5a6cae088039dce00cb/CIP-0010/registry.json#L10-L13

[2021-11-01 08:10] Scitz0 commented on #41
Thanks for the heads-up. Made it more evident as Cardano app 3.0.0 was released to some customers through ledger live over a week ago but now pulled again it seems.

[2021-11-01 13:41] Scitz0 commented on #41
@janmazak Seems cardano-serialization-lib is not fully compatible with this upgrade. Detailed in this issue I just opened:
https://github.com/Emurgo/cardano-serialization-lib/issues/240

[2021-11-02 11:22] adavibesp opened #42 "Feature Request: manual UTXO selection in transactions"
Hey CCWallet.

Cool feature would be to manually be able to select UTXO's to use when creating a transaction.
Could integrate with your current flow where at the end, the user can override utxo selection.

Regards,
Michael F, ADAVibe SPO

[2021-11-02 11:29] cardano-apexpool commented on #42
Hello,

Same request from me. There are some tokens that people do not want to move from a specific address for different reasons, and the wallet selects them, even if there is only 1.5 ADA on that UTxO.
And another option could be a checkbox to automatically withdraw the rewards in the same transaction.

Best regards,
George, APEX Pool.

[2021-11-02 11:45] cardano-apexpool commented on #21
I have the same suggestion.
Please also include the option to withdraw rewards in any transaction, not only when this is required.

[2021-11-02 16:56] Scitz0 opened #43 "Asset data refresh"
Currently asset details are gathered and stored in browsers storage and not refreshed. This is due to the fact that asset data is considered fairly static without the need for refresh. Ideally, the token projects register their tokens before they distribute them.

But to accommodate the cases where data need to be refreshed, the proposed solution is to add a refresh button in the asset card to cle

[2021-11-02 16:59] Scitz0 commented on #42
We have a manual tx builder in the backlog that would let you select inputs and build the tx as desired. So this has been thought of before. But rest assured it is not forgotten.

[2021-11-04 11:10] MarcelKlammer opened #44 "Add All button for filtered tokens on Send page."

[2021-11-05 02:39] kamigreed opened #45 "List of all features available"
I think it would be nice to see what features are currently being implemented, so others can see and compare how it is better Vs yoroi/adalite.

[2021-11-05 11:57] Scitz0 commented on #44
Already implemented

[2021-11-05 11:57] #44 closed, assigned to nobody

[2021-11-05 12:01] Scitz0 commented on #45
I agree, we need a better roadmap. I dont have any good solution right now for how to present this but something we will look into. You can always engage with us in our telegram channel to get the latest news and stuff we are working on.

[2021-11-09 04:05] #45 closed, assigned to nobody

[2021-11-09 16:12] stakehodlers opened #46 "Feature Request: add Epoch transition dates/times"
A small change that would be incredibly helpful would be to put the transition date (UTC would probably be easiest) next to/below each of the three Epoch's shown in the Current/Upcoming Delegations section.  Take a look at the Upcoming Rewards section of any Cardano wallet within Yoroi for a good example.  This is probably an easy add and is incredibly handy.  Thank you for your consideration and

[2021-11-10 23:17] smbell1979 opened #47 "Feature Request: Check wallet for ccvault.io token to disable banner."
Would it be possible to check the wallets for a ccvault.io token and if one is held, then don't show the support us banner?

I supported you guys and love your wallet, but that giant banner is kinda annoying now.

[2021-11-11 23:41] Scitz0 commented on #25
Fixed

[2021-11-11 23:41] #25 closed, assigned to nobody

[2021-11-13 10:09] Scitz0 commented on #23
I think this one is covered by the Tx Preview on confirm page.

[2021-11-13 10:09] #23 closed, assigned to nobody

[2021-11-13 10:23] Scitz0 commented on #20
I'm unable to confirm this issue.
Closing for now but please comment if it's still an issue.

![image](https://user-images.githubusercontent.com/15903629/141615060-f01f83ae-906a-4e9a-b67b-aeb2c0cddf60.png)

[2021-11-13 10:23] #20 closed, assigned to nobody

[2021-11-13 10:26] Scitz0 commented on #24
Fixed by both implementing a withdrawal button on summary page but also a checkbox on asset page to force withdrawal(upcoming release).

[2021-11-13 10:26] #24 closed, assigned to nobody

[2021-11-13 10:27] Scitz0 commented on #26
I think this one is solved, else we can reopen at a later point if proven otherwise.

[2021-11-13 10:27] #26 closed, assigned to nobody

[2021-11-13 10:34] Scitz0 commented on #30
As a follow-up on this issue, what benefit would this single page send page give?
I don't currently see the issue with clicking next a few times to complete the steps. If it's about speed surely there can't be much of a difference?

[2021-11-13 10:44] Scitz0 commented on #36
Could you try overriding Ledger Transport and see if it makes a difference? WebUSB is the default choice in ccvault.io
Other than this suggestion, I don't know what could cause it. Bust must be local to your browser, plugin conflict etc.

Closing for now as I haven't seen any progress in a while. Please comment here anyway and if its needed I will re-open issue.

[2021-11-13 10:44] #36 closed, assigned to nobody

[2021-11-13 10:58] Scitz0 commented on #39
Please follow this guide to disable:
https://apple.stackexchange.com/questions/305374/disable-safari-autofill-for-one-website

Password input handling is up to the client browser and not the serving website.

[2021-11-13 10:58] #39 closed, assigned to nobody

[2021-11-13 10:59] Scitz0 commented on #41
ccvault.io should be fully compatible with the upcoming 3.0.0 Ledger Cardano App. Closing this issue.

[2021-11-13 10:59] #41 closed, assigned to nobody

[2021-11-13 11:04] Scitz0 commented on #40
Thanks, a mobile app is something we have talked about but will not be implemented in the near future. So for now please use the browser on your mobile device. A timeline for this can't be set at this point.

[2021-11-13 11:22] Scitz0 commented on #4
I hear what you say and they are valid points. Though I still think password management should be up to the client browser to deal with accordingly. But autofill in password fields should hopefully not happen in the upcoming release.

[2021-11-13 11:22] #4 closed, assigned to nobody

[2021-11-16 19:40] pajaroverde opened #48 "Improvements for the wallet"
good afternoon, I would like to propose some improvements for your wallet.
As you know there are initiatives such as cardwallet that intends to use debit cards to spend the coins in the wallet. This represents an advantage and also a problem due to the KYC identification processes. That is why I think that a solution could be to pass our cryptocoins to fiat and then be able to fill or load a prepa

[2021-11-17 19:24] codefly opened #49 "Feature Request: Support for multiple Trezor passphrase identified wallets"
It looks like you are caching the passphrase for the Trezor wallet, (which is great and convenient) however when I want to pair an additional wallet with the same device, identified by a different passphrase, I'm not prompted for the passphrase, instead I'm redirected to my existing wallet and told that a wallet already exists with this id.

Ideally when adding a new wallet I'm asked for the passp

[2021-11-17 21:58] Scitz0 commented on #49
I'm myself a Trezor with passphrase user so I know what you are talking about. It's however handled by trezor-connect, an external lib. I don't think there is much we can do about it, but I will check to make sure. The way you have to do it is to disconnect it from the computer in between to reset the connection.

[2021-11-17 22:03] Scitz0 commented on #48
Thanks for the suggestion. I can't speak for long time plans as we are a small team currently. But I don't see us adding something like this in the short or mid-term. But all ideas are good and you never know, we might be there one day going over added GH feature request and are in a better position to look into fiat on-ramp and specifically what you were asking about.

[2021-11-17 22:12] Scitz0 commented on #46
Added in latest release.

[2021-11-17 22:12] #46 closed, assigned to nobody

[2021-11-17 22:25] Scitz0 commented on #47
The Mesmerizer token support banner will now be disabled for 24h if closed.

[2021-11-17 22:25] #47 closed, assigned to nobody

[2021-12-07 13:37] jeffshill opened #50 "Feature Request:"
Just as a matter of convenience, a password protected notepad within the wallet would be useful.
Perhaps with a section for whitelisting addresses.

[2021-12-07 15:15] btbf opened #51 "Feature Request: Language Switching(Japanese)"
In order to establish ccvault.io as a major Cardano wallet, it needs to support Japanese.

There are many ADA holders and whales in Japan. Many of them use Daedalus or Yoroi, Because those wallets are available in Japanese.
I would like to promote ccvault in Japan because it is highly functional and light. I'm also translating Pooltool into Japanese. I'm always available to help with this project.

[2021-12-09 01:18] 4bra opened #52 "Feature Request: Send to other accounts option"
Request to add pull down for sending to other accounts within my vault. Including accounts with my current wallet but also any accounts in my other wallets, all connected to CCVault. This concept comes from Metamask sending.
Thank you

[2021-12-10 18:59] TheStophe commented on #14
Hopefully per wallet and account too, .csv preferred, do python analysis on it!

[2021-12-10 19:08] TheStophe opened #53 "Rewards and Wallet Portfolio Data Visualization Tab"
A rewards and wallet portfolio dashboard that portrays data visualization on, just for ideas:
* per epoch, and rolling averages
   * cumulative rewards
   * rewards per wallet
   * wallet cumulative sum
   * pool portfolio rewards (e.g. delegated to 5 pools, what's the expected ROA, pie chart % staked)
* future ada wallet cumulative compounding total with staking rewards, for 5, 10 years, with and

[2021-12-13 04:29] Edward212121 opened #54 "Feature Request - Send Page"
When sending ada/token, is it possible to put all the fields in 1 page, like all the necessary information is on the front page, and not have to click next?

this will make it faster to send ADA to an NFT drop address for example  :)

thanks

![image](https://user-images.githubusercontent.com/96036571/145752533-35fc948e-f758-4da0-8282-128c037d6b11.png)

[2021-12-15 20:36] Awashbu12 commented on #50
They have an address book already. You can save your addresses in it easily then select from them when sending

[2021-12-15 20:45] jeffshill commented on #50
Thanks,

From: Awashbu12 ***@***.***>
Sent: Wednesday, December 15, 2021 2:37 PM
To: ccwalletio/tracker ***@***.***>
Cc: jeffshill ***@***.***>; Author ***@***.***>
Subject: Re: [ccwalletio/tracker] Feature Request: (Issue #50)

They have an address book already. You can save your addresses in it easily then select from them when sending

-
You are receiving this because you authored the thread.
R

[2021-12-16 23:26] AndrewWestberg opened #55 "Feature Request: Privacy Mode"
Add a flag to the wallet settings to enable privacy mode.

When in this mode, no staking addresses (delegated addresses) would be used. By default, the user is then presented with non-delegated external addresses. Change from any transaction returns to non-delegated internal addresses.

The use case for this feature would be for paying multiple people from the same wallet so they couldn't easily s

[2021-12-20 07:04] Scitz0 commented on #22
Implemented and live.

[2021-12-20 07:04] #22 closed, assigned to nobody

[2021-12-20 07:08] Scitz0 commented on #33
Similar FR to #14.

[2021-12-20 07:11] Scitz0 commented on #43
Fixed and deployed. Each token now include a refresh button to force a refresh.

[2021-12-20 07:11] #43 closed, assigned to nobody

[2021-12-20 07:14] Scitz0 commented on #49
Closing this issue as passphrase handling is handled by the Trezor Connect module. Better to open an issue on the TC GH page if this is still an issue. https://github.com/trezor/connect

[2021-12-20 07:14] #49 closed, assigned to nobody

[2021-12-20 07:52] MarcelKlammer commented on #37
Fixed.

[2021-12-20 07:52] #37 closed, assigned to nobody

[2021-12-20 07:55] Scitz0 commented on #50
Seems the answer was accepted.

[2021-12-20 07:55] #50 closed, assigned to nobody

[2021-12-24 08:34] timing opened #56 "Show the delegation change for delegation change transactions"
Transactions that change the delegation do not look as such, it just looks like a regular transaction of 2 ADA and a 0.17 ADA fee. This means that a phisher could make a web-based delegation button that sends 2 ADA to another wallet address, and users then think this is fine. Also if the transaction popup confirms the transaction is a delegation change, the user might experience more trust with th

[2021-12-25 16:00] gibsonmedia247 opened #57 "Enhancement Request: Expanded Address Book Entries By Default"
![Screen Shot 2021-12-25 at 7 58 19 AM](https://user-images.githubusercontent.com/96659438/147388885-f5a1541c-8bb5-4623-a965-98b5c79b814d.png)

Would be nice when sending, to have address book entries expanded by default. Maybe this could be a feature that can be toggled on/off in settings. For large amounts of address book entries, I am not sure how this could be handled. Maybe only show the top

[2021-12-25 16:06] gibsonmedia247 opened #58 "Enhancement Request: Send Tab > Enable Keyboard Return Entry for Default Selected Keys"
Send Tab
- Receive Address > Next (would like to have Next button enabled for Keyboard Return entry)
- Message (would like to have Skip button enabled for Keyboard Return entry)
- Assets (Next is already enabled for Return entry, although I noticed when clicking on Back from the following screen, it no longer seems to work)
- Spending Password > Sign (Sign is already enabled)

[2021-12-27 14:38] ccwalletio commented on #53
Would love to do that. This could be a separate page of sorts to not bloat the wallet app too much.

[2021-12-27 14:41] ccwalletio commented on #56
Agreed, we plan to overhaul the Transaction preview and Send page completely.

Thanks for your suggestion.

[2022-01-04 12:13] MarcelKlammer commented on #58
Hitting return when a valid address was entered will go to the next step. Am I missing something?
Message: Hit Tab (to focus the input field) > Hit Enter

[2022-01-08 20:13] MadOrkestra opened #59 "Tracking staking rewards for tax purposes"
Hey there,

probably coming in your accounting solution at some point anyways, but I'll just leave this here: It'd be nice to have a feature to export staking rewards with their respective $ADA value in FIAT at the time the reward was paid out like https://pooltool.io/ does.

Lookings forward to things to come, thanks!

[2022-01-10 20:31] eddex opened #60 "Feature request: Add abillity to send multiple UTxO's to different addresses in one transaction"
I would like to be able to send ADA to multiple addresses in one single transaction.

Example:
- I have 10 ADA in `wallet A`.
- I want to send 5 ADA to `wallet B` and 5 ADA to `wallet C`.
- Instead of creating one transaction to send 5 ADA from `wallet A` to `wallet B` and one transaction to send 5 ADA from `wallet A` to `wallet C` (paying transaction fees for both), I'd like to create one transac

[2022-01-10 20:34] eddex opened #61 "Question: Why is ccvault not open source?"
It would really make me a lot more confident in using ccvault if the code would be open source. In the current state we are forced to blindly trust the creators not to steal our funds. This is far from ideal.

[2022-01-11 18:21] huths0lo opened #62 "asset vs collectible"
Will there be a way to designate assets vs collectibles?  If yes, we have registered cbTHC with the registry.  Would be awesome to have it display with 6 decimal places.  Token is 025146866af908340247fe4e9672d5ac7059f1e8534696b5f920c9e6.cbTHC

[2022-01-12 08:08] eddex commented on #35
You can use https://darkreader.org/

[2022-01-12 12:21] arnautov-anton opened #63 "[iOS] UX/UI improvements"
### Back button and word suggestions
Missing back button in the top left corner and/or swipe from left to right edge for “go back” gesture.
<img src="https://user-images.githubusercontent.com/43254280/149137263-797d79b5-53b4-4094-b951-7a1d261bb2a6.jpg" width="300" />

And this back button is probably in the wrong place as suggested words appear over there in its place once you start typing. Warnin

[2022-01-13 17:10] rosieks opened #64 "Initialize window.cardano onload"
I want to connect to wallet immediately after loading the page so in my React application I do something like:

[code]
Unfortunately in case of CCVault Cardano API is not there yet so user has to manually click Connect each time they enter the page. In contrast Nami is there from the begging. Could you maybe look how to improve such scenario?

[2022-01-14 19:05] dauta-toast commented on #64
I'm not a maintainer, but this is following the [CIP-0030](https://github.com/cardano-foundation/CIPs/tree/master/CIP-0030) spec. Nami is also going to switch towards that soon.
That being said, the code that you provided should work. I have a similar implementation and if user has connected the wallet `window.cardano[walletName].isEnabled()` should resolve to the full api, without asking the user

[2022-01-14 19:07] rosieks commented on #64
My case is just related to fact that after loading page window.cardano.ccvault is not initialized yet. I have to await a few seconds to be available.

[2022-01-15 07:53] Hizairi opened #65 "Multiple addresses sent in a single transaction for CCVault"
Hi there, I am not from an IT background. I am here just as a supportive community member that would love to see Cardano network grows.

I would want to suggest CCVault to enable an option to send ADA to multiple wallet addresses. I have a number of ADA wallets currently staking and would love to be able to send ADA to my other wallets within ONE transaction. This saves transaction fees.

Thank yo

[2022-01-16 08:24] wout opened #66 "Two issues with the browser extension"
OS: elementary OS 6.1
Browser: Brave Version 1.34.80

**Issue 1**: Network switching using the bottom-right menu stopped working. I have to manually enter the network name in the URL. There are no errors in the console. When I click on the menu it appears and when I click on the network it disappears again, but nothing happens.

**Issue 2**: Wallets are shown as "not delegated", while they are.

!

[2022-01-16 15:01] nicolaskeller commented on #61
As much as I like the project and communication from the devs has been top notch in the past (thank you very much for your work!), I have to agree that it's very hard to trust a third party wallet that isn't (completely) open source.

[2022-01-16 15:47] eddex commented on #65
Same request as #60, glad to see I'm not the only one who would like to have this feature!

[2022-01-16 16:13] gibsonmedia247 opened #67 "Enhancement Request: Have a way to verify seed phrase"
I believe Daedalus has this functionality that allows you to validate your seed phrase within a given period of time just to make sure you have it copied down correctly. I think this would be very useful and add another layer of assurance.

[2022-01-16 16:59] TheStophe opened #68 "Add minimum amount Ada warning before staking"
Request to add a warning or prohibit one from staking one's wallet below the minimum Ada staking limit.

Background: After onboarding a friend to setup a new Cardano wallet on ccvault, he sent about 3 ada to it.  I showed him how to stake his ada, which turned out to be a 0.833 Ada internal transfer delegation fee, and then 2 Ada remaining.  The 2 Ada does not appear in his total wallet amount, al

[2022-01-17 00:15] Josef3110 opened #69 "Feature Request: please add firefox browser support"
As the title says, I've only firefox - so please add support for this browser!

[2022-01-17 05:03] hodlonaut opened #70 "Need to educate delegators a bit more about multi-pooling / decentralization"
Hello,

It might be a good idea to make the 'Pools of multi pool operations get a higher score penalty with each additional pool.' text in the Staking section bold and add to it a hyperlink to a useful educational resource about why there is a distinction being made between single pool and multi pool operators (https://cardano-community.github.io/support-faq/#/select-pool-to-delegate?id=number-of-

[2022-01-17 08:51] Mit4Code opened #71 "Locked out of the wallet. We should be able to reset the password with the passphrase!"
Hi. It looks like I managed to do a typo or something when I've set my password for the wallet. I have tried quite a few times to guess it but I'm locked out. Now, one would think that it's not a big deal since it has the passphrase but I have tried to use the passphrase and CCvault says that I already have the wallet and it asks me the password. It is like the password now became the main securit

[2022-01-18 04:20] azereki opened #72 "Feature Request: Dark Mode"
A night/dark mode for the desktop app.

[2022-01-18 05:07] hodlonaut opened #73 "Add ability to switch between networks to Settings menu"
Currently the network switch is done via a small clickable text in bottom right corner of the screen.

A few users I've come across were unsure how to switch between testnet and mainnet, after looking in Settings section of the chrome extension. It might be worth considering adding the network toggle there as well and possibly prefixing the 'Tesnet' text in bottom right with 'Current Network:' lab

[2022-01-19 06:43] danimalplanet opened #74 "Ability to use Ledger with iOS app."

[2022-01-19 14:20] docter-tirrud opened #75 "ccVault iOS won't read Nami wallet QR code"
I wanted to send ADA from iOS ccWallet.io to Mac Nami Wallet. I initiated the process on iPhone and went to enter receive address. I clicked the QR icon in the lower left, gave permission to use iPhone camera, and framed the Nami receive QR code in the iPhone camera window. No matter how I adjusted orientation the iPhone ccVault.io app would **not** recognize the QR code displayed by NamiWallet in

[2022-01-19 14:32] mplomin opened #76 "Change token collection chevron direction from down/up to right/down"
This may be an incredibly minor change request, but bear with me.

When you own more than 2 tokens from one collection, the default is a "collapsed" state of the view, with a downward facing chevron / arrow.

Then, when you click on the down chevron, the rest of the collection is revealed, and the image changes to an up chevron.

In most places, you will see collapsed views with a right-facing che

[2022-01-19 14:47] mplomin commented on #68
There is no minimum amount to stake.  Daedalus and other wallets suggest 10 as the minimum, but that is not mandatory.  As for the 2 Ada, that is not spendable while the wallet is staked.  Your friend will get his 2 Ada back when he de-registers his wallet and leaves all stakepools.

[2022-01-20 15:44] madprogramer opened #77 "Short-term QR Retention after voting"
Mis-clicking another tab after voting, drops the QR code and sends the user back to the Catalyst Registration screen.
![image](https://user-images.githubusercontent.com/3719664/150371232-20651567-1368-4d62-8520-4681f772b7c0.png)

Since voting registration incurs a registration transaction fee, it might be nice to have some short-term retention (to give the user time to save their QR code) before l

[2022-01-20 16:30] Adaguppy opened #78 "iOS security"
Can you please add biometric authentication (Face ID) to your iOS development roadmap? The extra layer of security would be great

[2022-01-21 06:10] Stefan566 commented on #69
I wouls support that. Firefox has a higher market share than Brave and Opera, so why is it not supported?

[2022-01-21 10:16] brouwerQ commented on #42
I really want this feature too!

[2022-01-21 10:18] brouwerQ commented on #65
Same request!

[2022-01-21 10:21] brouwerQ opened #79 "Feature request: saving signed transaction instead of sending it"
The wallet has a good dapp connector and a lot of options (and more will become available), so it's a excellent tool to construct transactions. However, when load is high, it's difficult to get transactions through. I would really like an option to sign and save instead of sign and send, so that I can try to send the tx through my own node.

[2022-01-21 11:36] IcarusSonOfDaedalus commented on #72
We also need a dark mode for mobile wallets.

[2022-01-21 16:59] codyaverett opened #80 "Support other EUTXO chains like ergo or ckb?"
EUTXO projects like ergo and nervos have their own wallets, but I would like to use just one wallet for all my EUTXO based assets.  Thoughts?

[2022-01-22 00:17] harish-codes opened #81 "Feature Request: Exportable csv/excel file of all transactions"
Export all transaction history as a csv/excel file

[2022-01-22 02:51] eselkin opened #82 "Noticing enable crashes on most recent chrome ext."
After awaiting a window.cardano.ccvault.isEnabled() and then awaiting a result from the window.cardano.ccvault.enabled(), I'm getting this error:

[code]

[2022-01-22 02:57] #82 closed, assigned to nobody

[2022-01-22 02:57] eselkin commented on #82
I failed to realize the DApp configuration on the settings menu

[2022-01-22 23:00] martingarza commented on #72
plis we need this

[2022-01-23 01:53] TheStophe commented on #68
Looks like there's a 2 Ada min delegation deposit, and then a 0.17 Ada transaction fee, per answers on [Cardano Stake Exchange: What is the minimum amount of Ada needed to stake?](https://cardano.stackexchange.com/questions/6505/what-is-the-minimum-amount-of-ada-needed-to-stake).  Feel free to add a comment there if that's incorrect.

[2022-01-24 02:49] Vysp3r opened #83 "Ability to use Ledger wallet on Android"

[2022-01-24 10:49] marcuspuchalla commented on #12
We had a look at this issue again and decided not to implement it yet but leave it in our backlog.

2FA done right is a client-server solution, and we cannot store/sync user data on our servers right now. We don't have the capacity for this and want to concentrate on giving a flawless wallet syncing a higher priority.

TOTP and YubiKey would require us to send data between client and server for ev

[2022-01-24 10:54] marcuspuchalla commented on #14
We have this on our backlog list and will implement this in the following months.

[2022-01-24 11:19] marcuspuchalla commented on #19
We put the remaining points on our backlog.

There was a discussion on Telegram for the pool ranking calculation. If you want, you can have a look here: https://t.me/ccwalletio/4508

[2022-01-24 11:34] marcuspuchalla commented on #21
Minor update: We still have the advanced tx builder on our list. We'll start working on it in the following months.

[2022-01-24 11:44] marcuspuchalla commented on #30
With version 1.4, we reduced the steps to send a transaction. The page where you input a message is now optional.

For now, we do not plan to make a "1-page view" as you suggested. However, this may change in the future when there is more need for this.

[2022-01-24 11:44] #30 closed, assigned to nobody

[2022-01-24 11:50] marcuspuchalla commented on #32
You can now set an explorer for different link types in the global settings. Adapool is also available as an option.

Therefore we close this issue.

<img width="637" alt="Bildschirmfoto 2022-01-24 um 12 47 07" src="https://user-images.githubusercontent.com/89977979/150777707-155d3ab5-4d2c-42ae-bda6-89a4ebdfc0e7.png">

[2022-01-24 11:50] #32 closed, assigned to nobody

[2022-01-24 11:56] marcuspuchalla commented on #14
Also see: https://github.com/ccwalletio/tracker/issues/33

[2022-01-24 11:59] marcuspuchalla commented on #33
We linked this issue in our internal backlog and will return to it as soon as we implement export functions, which are on our list for the following months.

[2022-01-24 12:02] marcuspuchalla commented on #35
Be assured, we are on it 😉

[2022-01-24 12:07] marcuspuchalla commented on #38
We added the task to our backlog list and will come back to it.

[2022-01-24 12:11] marcuspuchalla commented on #40
There are now iOS and Android apps available. Please note that they currently do not offer a dApp connector.
You can find the links on our official Linktree here: https://linktr.ee/ccvaultio

[2022-01-24 12:11] #40 closed, assigned to nobody

[2022-01-24 12:16] marcuspuchalla commented on #51
We work on the translation of CCVault to multiple languages. We are sure Japanese would be a great addition and really appreciate your offer to help us with that. Thank you very much 👍

As soon as we are ready to start with Japanese, we will return to you! Please have some more patience.

[2022-01-24 12:21] btbf commented on #51
I'd be happy to help you.

[2022-01-24 12:32] marcuspuchalla commented on #52
As of now, you can quickly select an account of the current wallet under "Inter-Account Transaction" when building a send transaction. See here:

<img width="794" alt="Bildschirmfoto 2022-01-24 um 13 29 53" src="https://user-images.githubusercontent.com/89977979/150783287-cfeb0aaa-a4d6-4bac-9711-8b274168f93c.png">

But we also added the feature request to do this with different wallets to our back

[2022-01-24 12:39] marcuspuchalla commented on #54
A feature request for this already exists, but we decided not to implement it but put it in our backlog for now.
Here is the original issue: https://github.com/ccwalletio/tracker/issues/30

[2022-01-24 12:39] #54 closed, assigned to nobody

[2022-01-24 14:15] marcuspuchalla commented on #60
We already plan to rework the transaction building process. This is one feature we will include.

[2022-01-24 14:48] marcuspuchalla commented on #66
So are both points working when you start the browser, but they will not work after some time has passed?
We will try to set up your configuration and see what could cause the problem. Thanks for reporting.

[2022-01-24 15:00] marcuspuchalla commented on #65
This feature has already been requested here https://github.com/ccwalletio/tracker/issues/60

[2022-01-24 15:00] #65 closed, assigned to nobody

[2022-01-24 15:16] marcuspuchalla commented on #64
Initializing the API object can take a few moments based on multiple things we mostly cannot control from our side. It, e.g., depends on the operating system, browser, browser version, and system load.

As @dauta-toast correctly mentioned, CCVault uses the CIP-0030 implementation. We inject the objects into the page as soon as the browser allows us.

We are always looking to improve our code with

[2022-01-24 15:30] marcuspuchalla commented on #69
We understand the need for a Firefox extension and would also love to see CCVault as an extension there. As for now, we'll not be able to provide one in the foreseeable future. We will look into that again at a later stage.

_Background Information_: We already had an extension available for Firefox for a short amount of time. But it was removed by Firefox sometime later. The process of adding it

[2022-01-24 15:30] #69 closed, assigned to nobody

[2022-01-24 16:51] wout commented on #66
Yes, it only happens if the browser has been open for some time. I tend to reboot once to twice a month, and my Browser is not restarted very often either.

Restarting the browser always fixes the issue.

[2022-01-24 17:38] marcuspuchalla commented on #72
Closed as duplicate, see https://github.com/ccwalletio/tracker/issues/35 !

[2022-01-24 17:38] #72 closed, assigned to nobody

[2022-01-24 17:40] marcuspuchalla commented on #70
Thank you for your contribution. We will discuss this internally and come back to it.

[2022-01-24 18:03] marcuspuchalla commented on #71
As you mentioned, you can always restore the wallet from the passphrase. If CCVault tells you that a wallet already exists, you could clear the site's stored data and enter it again. But be aware that this will delete all wallets you created on that instance.

Setting the access password is a security feature. It will encrypt your wallet with this password. So after you set the password, no one ca

[2022-01-24 18:10] marcuspuchalla commented on #73
Thank you for that suggestion.

We might add a setting to the global settings page to see and change the current network.
I'll discuss this with the team and come back to it soon.

[2022-01-24 18:15] marcuspuchalla commented on #75
Thank you for the report. I can confirm that our current implementation seems to have problems with that code type.
We will look into this asap.

[2022-01-25 07:34] rosieks commented on #64
Hi, I use windows 10 21H2 and Chrome browser.
For sure it's not limitation of browser because there is no such issue while using Nami Wallet. All interfaces are available immediately after page load while with CCVault I have to timeout initialization for 5 seconds which makes UX much worse.

[2022-01-25 11:49] brouwerQ opened #84 "Bug: 'incorrect spending password' error message when pressing ENTER after typing it"
When I type my spending password to sign a transaction and I conclude with pressing ENTER, I get an error message saying the spending password is incorrect (and the password field is cleared). When I type en click 'Sign', it does works.

[2022-01-25 14:03] Mit4Code commented on #71
The deletion of that particular locked wallet is exactly what is needed. By having the passphrase you actualy proofed that you own the wallet and this should allow it to be deleted and at the same time restored asking you to choose a new password to encrypt it.

[2022-01-25 15:35] woodkm commented on #61
I love ccwallet. But I do agree here, it would be in ccvault's and the user's benefit to opensource the code.

[2022-01-26 16:26] jsgonsette opened #85 "NFT display enhancement"
Displaying NFT only works with standard static images (PNG, JPEG, etc.)
However, a non negligible type of NFT are those outside this category and they seem most of the time completely ignored (except by Pool.pm).

Here are the metadata of a dynamic and interactive NFT written in HTML, as a link to IPFS + web argument
[code]

Pool.pm renders it perfectly, has in the following picture, while ccvault

[2022-01-27 10:13] angelstakepool opened #86 "add support for non-UTF8 characters"
playing with testnet minswap, It seems that ccvault does not support non-UTF8 characters

![lq](https://user-images.githubusercontent.com/60072039/151338525-77828360-b28c-4634-8f55-dd0e8158fb76.jpg)

[2022-01-27 10:46] Pr0phecy77 opened #87 "Feature request: enable renaming of the sub accounts"
Right now, the default naming of the extra accounts you can create is Account 1, Account 2 etc. Would be nice to be able to rename these accounts.

[2022-01-27 11:02] MadOrkestra opened #88 "Congestion: Pending transaction disappears / error"
This happend to me several times now, so I'll try to put this out here to check: You send one transaction which shows as pending for a long while due to the current congestion, then disappears but does not show in the transactions (not on chain yet or not being synced back to the transactions view right away). If you try to send another transaction at this point (even to a different address), you'

[2022-01-29 23:03] brouwerQ commented on #84
Seems to be solved.

[2022-01-29 23:03] #84 closed, assigned to nobody

[2022-01-31 13:49] yronin opened #89 "Feature request: Use your own Cardano Node"
Hello,

it would be lovely if we could configure the use of our own Cardano Full Node in ccvault.

Kind regards

[2022-01-31 17:46] safanaj opened #90 "Fearure request: custom submit-api url"
This could be a subset of #89 just for the tx submission functionality. Similar to what Nami wallet implemented by day zero would be nice to have in the settings section the possibility to specify a cardano-submit-api URL, and would be also much great allow optionally to provide a client certificate to use making POST requests to the submit api url. In this way each SPO (or just anyone running a r

[2022-02-01 06:45] ccwalletio commented on #85
The Mesmerizer was also a HTML file completely on chain. It renders on the web version of ccvaultio, but not in the extension, due to content policies of the browser. Didn't had the time yet to look into it.

[2022-02-01 10:01] brouwerQ commented on #90
Let's start with just the custom submit api URL... I would really like that too.

[2022-02-01 11:39] adavault-ops opened #91 "Feature request: Add api.getSharedSecret(addrA, addrB)"
Add getSharedSecret to return ed25519 shared ephemeral secret, per CIP-008/030, to permit encryption on txn metadata (or other messages) between Alice (addrA) and Bob (addrB). Map addrA against corresponding private key held in wallet, addrB is recipient public address.

For example converts ed25519 private / public keys to Curve25519 and calculates Elliptic Curve Diffie Hellman (ECDH) with X25519

[2022-02-01 15:27] yronin commented on #90
Yes please! I would love this feature.

[2022-02-03 03:47] dreday966 commented on #90
This feature will make ccvault.io be the only option.

[2022-02-03 15:03] kaskjabhdlf opened #92 "Feature Request: UTXO management"
This feature is taken directly from Electrum BTC.

I'd like to be able to choose which UTXOs I want to spend from and have the ability to lock others. This is a privacy feature for wallets that are not staked. Single UTXO spends prevent identifying public wallets that are associated with each other by private key. Having just one UTXO selected while using 'send all' would optimize the fee to spend

[2022-02-03 15:18] kaskjabhdlf opened #93 "Feature Request: Import/export transaction as file"
This feature is taken directly from Electrum BTC

I'm not sure how watch-only wallets (master public keys - xpub.. in BTC land) work on Cardano, or if they even do. Their existence is required for much of this feature to work.

Without the ability to interact with smart contracts using a hardware wallet, users are forced to create a 'hot' wallet. This is a massive security vulnerability. I'd like

[2022-02-03 15:22] kaskjabhdlf opened #94 "Feature Request: Add note to transaction"
Within my transaction history it would be nice to be able to make a note on transactions.

"bob payed me for his half of the dinner bill"

This would only be a local wallet note and not reside with the seed phrase out be stored on chain.

[2022-02-04 08:30] jarkkosyrjala commented on #89
For reference, this is how the feature is implemented in Nami:

https://github.com/Berry-Pool/nami-wallet/commit/a1ea1e4462f6beef45348e4ca98c9d4ff9666882
And additional fix for error handling: https://github.com/Berry-Pool/nami-wallet/commit/7677eb91e083c25c1731973b2c373e3105de939b

[2022-02-05 03:00] turtlelord-17 opened #95 "Feature Request: Dark Mode"
can you guys please add a dark mode. Wallet so white it hurts my eyes.

[2022-02-08 18:42] mpfhb opened #96 "Signing Smart Contracts with Ledger"
Sadly no full Ledger support.

[2022-02-10 15:13] kastik commented on #90
The extension already support this under App Preferences > Custom Submit API Endpoint.

[2022-02-10 15:14] kastik commented on #89
The extension already support this under App Preferences > Custom Submit API Endpoint.

[2022-02-11 13:34] hoanW opened #97 "Compatibility with iOS 12"
Currently not working for iOS12.5.5

[2022-02-17 20:49] mermino commented on #74
Is there a ETA for this feature?

[2022-02-25 12:23] TheStophe commented on #53
Perhaps to add onto a Welcome Dashboard, some new ideas:
- total ada rewards (from all wallets and wallet sub accounts)
- total collection of tokens (from all wallets and wallet sub accounts)
    - E.g. currently I have to switch between accounts and manually tally up how many cNETA tokens I have
- perhaps a 'decentralization' rating of all the stake pools i'm delegating too, with a bumper sticker

[2022-02-27 08:17] TensorsWillFlow commented on #95
ccvault is hands down the best cardano wallet at the moment, but... my.... eyes 🤣

[2022-03-03 13:27] SunflowerHLim opened #98 "Why can't I connect to the mainnet?"
![image](https://user-images.githubusercontent.com/100850628/156573750-c24ee808-f88a-4de6-b327-1c3c378a9525.png)

It has a good Internet connection, but it is said that it cannot be connected. Please solve the problem.

[2022-03-05 15:15] DaveryBeast opened #99 "Feature request: BitBox02 support"
Hello, I have a BitBox02 hardware wallet but the only Cardano wallet able to connect to it is AdaLite,
which is more limited in its interface and 'connectability' with projects on Cardano than ccvault or other Cardano wallets.

I would be happy to be able to connect my ccvault interface with my hardware wallet, hope it will soon be possible to connect BitBox02 with ccvault.

The BitBox community r

[2022-03-08 11:50] hodlonaut commented on #70
Still waiting.

[2022-03-08 13:45] siegfried opened #100 "`signTx()` returns empty witness set"
Cannot get a transaction from a multi-sig address signed by ccvault. It can be reproduced here:

http://localhost:3000/treasuries/ggGCggBYHOQS%2Buq87qmsRuz8yOT2uBUUMfIJdTZXihGvyK2CAFgcFwxHqjkD0nXzcTZjPYqaiSoVfR1aVqRDZF9UwA%3D%3D/owCBglggSYpmLRbdr9yrtUJnQ7TxzzJnFSetlbwITUfwKv2cneQAAYKCWDkA5BL66rzuqaxG7PzI5Pa4FRQx8gl1NleKEa%2FIrbpRy3QPWMQKvlgSoibx5Y7npWyWLPub3wt%2F4WYaAExLQIJYOTAEbb36RJc2RVgT46BGQ5I

[2022-03-08 15:59] fermatspace opened #101 "Construct transactions with other parties"
Hi there!

First let me say that this wallet is amazing! Great work and kudos to the team for their ongoing effort, you certainly have my support. All the essentials are there, but can we do more?

Well I got an idea that would be really helpful for the community and would really provide addition value to the whole ecosystem. I propose a section in the wallet for constructing transactions with UTx

[2022-03-08 16:05] janmazak opened #102 "update of Cardano app for Ledger"
There is a new version of Cardano Ledger app with Plutus support under review, and an accompanying update of Ledgerjs is also available (see the pre-release below).
https://github.com/LedgerHQ/app-cardano/pull/18/files
https://github.com/vacuumlabs/ledgerjs-cardano-shelley/releases/tag/v5.0.0-rc1

[2022-03-08 18:06] Scitz0 commented on #102
thanks for the heads up

[2022-03-08 21:46] janmazak commented on #102
I've made a mistake and forgot some commits, here they are:
https://github.com/vacuumlabs/ledgerjs-cardano-shelley/releases/tag/v5.0.0-rc2

[2022-03-11 18:12] eddex commented on #99
I just created the same feature request for Nami wallet in [nami-wallet/issues/451](https://github.com/Berry-Pool/nami-wallet/issues/451). Let's see which wallet gets it first. I'd bet on Nami since it's open source and anyone can contribute. But we'll see. 😉

Here are some additional resources that will be helpful when integrating BitBox02:
- https://shiftcrypto.ch/dev/
- https://github.com/digit

[2022-03-15 14:17] Entspanndi opened #103 "Request: Save ADAHandle in Adressbook"
This is my favourite wallet on Cardano. Many thanks for the development and constant improvement.

Would it be possible to store not only addresses in the address book but also ADAHandles? So that one does not have to enter the handle but can select a saved handle.

[2022-03-16 02:02] QCPOLstakepool commented on #87
This, please :)

[2022-03-17 16:10] domib97 commented on #61
I also like the fact that ccvault has the most options and shows important data but if you would ask Charles, he is also strictly against closed source. Yeah the algorithm that combines the utxos might be difficult but it should not be IP!

[2022-03-17 18:15] MikeEndes opened #104 "Feature Request: Wallet Appraisal"
It would be nice to be able to get a wallet appraisal of all ADA and other coins trading on a few of or the best offer price from a couple of exchanges.

[2022-03-18 13:11] HeptaSean opened #105 "Transaction History: Minus Sign at Fractional Part of Native Tokens"
When a native asset is sent out by a transaction, there is a second minus sign before the fractional part of the amount:
![screenshot-2022-03-18-14:06:21](https://user-images.githubusercontent.com/1820735/159008610-82a8948a-3a2b-48c2-8efb-deb93ee4f1be.png)

Maybe, the code can be refactored to use the same functionality as for ADA/Lovelace. Should be the same calculations.

(This is in browser ext

[2022-03-18 13:37] HeptaSean opened #106 "Feature Request: Presentation of Epochs in Rewards History"
1. I think, it would help clarity if in the Rewards History, we would see for each epoch all relevant dates:
“Snapshot: 2022-02-24, Producing: 2022-03-01 – 2022-03-06, Rewards: 2022-03-11”
(Don't know if the time has to be in each of these, since it's always the same.)
Even though I know, how this works, I find myself calculating the dates back and forth quite often. This would help.
2. If the tim

[2022-03-19 11:49] HeptaSean opened #107 "Feature Request: Display JSON from Cardano Token Registry"
It's totally awesome that you can view the CIP 25 metadata for NFTs in ccvault.

Since you also display metadata from the Cardano Token Registry in the Token List, you query it, anyway.

Could that be shown as its JSON source next to the CIP 25? That way, we could easily see, where the user-friendly presentation comes from, if they use both (in slight abuse of the standards), …

[2022-03-19 12:54] akyo3 commented on #51
Since more and more people in Japan know about CCVault, we believe that more users will come to use it when it is translated into Japanese.
We strongly hope that Japanese language support will be available.
We appreciate your prompt action.

[2022-03-19 14:24] HeptaSean commented on #106
Thinking about it more, maybe there could be even more info in a details view (akin to the one you get, when clicking on a transaction in the history), for example:
     2022-03-21 22:44:51 CET  Snapshot: 1 500.000000 ADA
     2022-03-26 22:44:51 CET – 2022-03-31 23:44:51 CEST  Producing: 2 blocks
     2022-04-05 23:44:51 CEST  Rewards: 0.987654 ADA
(I chose an epoch with daylight saving time chan

[2022-03-20 10:56] filipnez commented on #96
Any updates on this? I guess with the new aps and DEXes that are being launch, this is highly requested feature. I mean this was kinda "promised".
![image](https://user-images.githubusercontent.com/49621102/159158975-140b9f9b-0550-4acc-b3da-bde6e56f2910.png)

[2022-03-24 12:50] grim-i-am opened #108 "Wallet connection: Since rename to eternl, api is injected twice"
Your CIP-0030 API is being injected into the window.cardano object twice, once under the key "ccvault", and another under "eternl"

[2022-03-25 19:24] TheStophe commented on #77
Agree.  It's really easy to just click finish after signing the transaction, when doing multiple accounts.  Request to add:
- Bigger Save QR Image Button (or just do it automatically)
- AND add more interlocks, asking if you sure you saved your QR code, or asking to check a box.
- Short term QR code retention best if accidentally click Finish without saving. I actually did it in Fund7 and again in

[2022-03-26 08:40] Scitz0 commented on #77
There are big changes on their way for voting, not only for Eternl but all wallets. You will be able to recover voting keys from wallet and not using one time throw-away keys like now. Voting delegation and more.

This will come in the coming months. We are working with IOG and the other wallet teams on this. Its very hard to predict a timeframe at this point though.

[2022-03-26 11:58] moealsubaie11 opened #109 "i need help with my wallet"
Total Locked with red color what does that mean

[2022-03-27 04:55] gldtn opened #110 "Firefox extension"
Can we get a Firefox extension please? So many wallet leaves out Firefox, and so many people dislike Chrome/Chromium.

Thanks!

[2022-03-31 10:45] janmazak commented on #102
The npm release is now available:
https://www.npmjs.com/package/@cardano-foundation/ledgerjs-hw-app-cardano
(small API changes since rc2 and rc4)

Ledger will release the new Cardano app (v4.0.0) sometimes the next week. In experimental mode in LedgerLive, it is available on provider 4.

[2022-04-02 16:11] mezuny commented on #108
We are aware and this is intentional, so other projects have the time to switch to Eternl instead of (temporarily) losing support for Eternl

[2022-04-03 15:14] docter-tirrud opened #111 "Feature request: Indicate page # of transactions currently on"
In the transaction list there appear to be twenty transactions per page, with additional pages of transactions available below the current transactions:
<img width="186" alt="image" src="https://user-images.githubusercontent.com/92059696/161434584-3fc763f0-7201-47e5-ab96-a703c9d3f9a1.png">
This makes it handy to move on to the next page, but after doing so this index does not show which page of tr

[2022-04-03 15:29] docter-tirrud opened #112 "Feature Request: Allow search by asset fingerprint"
Currently in Eternl for Chrome 1.5.5 there exists the ability to Filter the transaction list by message, tx id, or an UTxO address:

<img width="475" alt="image" src="https://user-images.githubusercontent.com/92059696/161435032-a55566a7-c7d7-41e8-baa7-0f7e768af389.png">

It would be useful to be able to filter on the asset fingerprint:

<img width="540" alt="image" src="https://user-images.githubu

[2022-04-03 23:32] EGMSSE commented on #87
would love to see this feature

[2022-04-03 23:36] EGMSSE commented on #96
@filipnez https://github.com/ccwalletio/tracker/issues/102

[2022-04-04 13:50] TheStophe commented on #77
Sounds good, thank you.

[2022-04-06 18:42] #97 closed, assigned to nobody

[2022-04-07 14:17] docter-tirrud commented on #111
Thanks!

[2022-04-07 14:17] #111 closed, assigned to nobody

[2022-04-16 20:02] MarekPasnikowski commented on #110
I refuse to use Chrome. Please rethink this monopolistic decision.

[2022-04-20 08:32] marcuspuchalla commented on #112
Thanks for the suggestion. We have planned this feature and will start working on it shortly.
We'll let you know in which release it will be included.

[2022-04-20 08:40] mezuny commented on #109
Hey @moealsubaie11, please either join our Telegram or Discord so one of our staff can explain this to you. You can use our official linktree to find the relevant links

https://linktr.ee/eternlwallet

[2022-04-20 08:40] #109 closed, assigned to nobody

[2022-04-20 08:43] mezuny commented on #107
Hey @HeptaSean, we are currently working on a token view overhaul which will include way more information visualized. I believe this might be similar to what you're suggesting here! 😄

[2022-04-20 08:49] mezuny commented on #106
Hey @HeptaSean, sorry for the slow reply, but we've just discussed this and will be looking into overhauling the rewards view to be more accessible. Thanks for your suggestion!

[2022-04-20 08:52] mezuny commented on #105
Hey @HeptaSean, we are aware that this is still in and will work to resolve this for the next release. Thank you for the (big amounts) of feedback. It hasn't gone unnoticed! 😄

[2022-04-20 08:56] mezuny commented on #110
Hey guys, we used to have a Firefox extension, but it got removed by Firefox. Their stance is they'll only allow it when they get both a compiled build and all source code, which for now is the reason it isn't available on the Firefox store

[2022-04-20 08:58] marcuspuchalla commented on #104
We are already working on such features and look forward to bringing it to our wallet shortly.

[2022-04-20 08:59] #104 closed, assigned to nobody

[2022-04-20 08:59] #110 closed, assigned to nobody

[2022-04-20 08:59] mezuny commented on #103
Hey @Entspanndi, happy to hear you're enjoying Eternl! This functionality will be included in our next release. Thanks for the suggestion!

[2022-04-20 08:59] #103 closed, assigned to nobody

[2022-04-20 09:01] mezuny commented on #102
Hi @janmazak, thanks for the suggestions! We're a bit behind on replying to all issues on the Github here, but are ready to support 4.0.0!

[2022-04-20 09:03] #102 closed, assigned to nobody

[2022-04-20 09:05] mezuny commented on #101
Hi @fermatspace, this is something we need to discuss with the entire team regarding if to implement and if so in which way. Thanks for the suggestion, we will consider this for sure, but are keeping in mind this would only be useful for a few select users.

[2022-04-20 09:07] mezuny commented on #100
Hey @siegfried, sorry for taking this long to get back to you. I'm assuming you are the same Siegfried that joined our discord, and will close this Issue for now. Please reopen it if it isn't! 😄

[2022-04-20 09:08] #100 closed, assigned to nobody

[2022-04-20 09:11] mezuny commented on #99
Hi @DaveryBeast and @eddex, sorry for the late replies, we've been quite busy with other functionalities. We have added this to our backlog and will consider support for it in the future, but most likely won't arrive soon

[2022-04-20 09:12] mezuny commented on #98
Hey @SunflowerHLim, I hope at this point you have been able to either join our Telegram/Discord or to resolve this. It might've been an outage or epoch rollover at the time. As you might notice, we're a bit behind on replying. Sorry about that!

[2022-04-20 09:12] #98 closed, assigned to nobody

[2022-04-20 09:13] mezuny commented on #95
Hi @turtlelord-17 and @TensorsWillFlow, thanks for this suggestion! We've added this a few updates ago, I hope you have been enjoying the darkmode we created. If you have any feedback, do let us know!

[2022-04-20 09:14] #95 closed, assigned to nobody

[2022-04-20 09:15] mezuny commented on #96
Hi @mpfhb, @filipnez. We are ready to support Ledger SCs once the platforms have updated their transaction builders. Thanks for your suggestion! Please do note that this functionality has to be added by Ledger and the relevant platforms, not by us.

[2022-04-20 09:16] mezuny commented on #94
Hi @kaskjabhdlf, this would add some challenges, as local would truly be local. We do not save any info from our users, so wouldn't have any way to synchronize this between wallets. Restoring your wallet would also for example mean losing these notes.

[2022-04-20 09:17] #94 closed, assigned to nobody

[2022-04-20 09:20] mezuny commented on #93
Hi @kaskjabhdlf, thank you for this suggestion. Using a HW wallet however doesn't create a hot wallet, it basically views a public key and communicates with the ledger/trezor what it wants to do. We do at this point allow for users to use their own custom endpoint, so this shouldn't be a problem either.

After reading the above, do you still think something should be changed? Let us know

[2022-04-20 09:20] #93 closed, assigned to nobody

[2022-04-20 09:28] marcuspuchalla commented on #92
Thanks for the suggestion. We will discuss this internally and might implement it in the future.

[2022-04-20 09:36] marcuspuchalla commented on #91
Thank you for taking the time to explain this feature in detail. It sounds like it could open up some exciting use cases on-chain.
We will discuss and most likely plan this feature internally and start working on it at some point.
However, we currently do not have the manpower to give an estimate on when this will be. We will keep this issue open until then. Thanks again for the idea!

[2022-04-20 09:38] marcuspuchalla commented on #90
As @kastik mentioned, this is already supported by the extension.

[2022-04-20 09:38] #90 closed, assigned to nobody

[2022-04-20 09:43] mezuny commented on #89
Thanks for your suggestion, but we are currently not planning to add such functionalities in the future. Custom submit endpoint has been added at this point.

[2022-04-20 09:43] #89 closed, assigned to nobody

[2022-04-20 09:59] mezuny commented on #88
Hey @MadOrkestra, sorry for the late reply. We're currently going through our backlog of issues on the git. At this point, this shouldn't happen anymore with both additional server capacity and the addition of the pending tab. Thank you for reaching out!

[2022-04-20 09:59] #88 closed, assigned to nobody

[2022-04-20 10:00] mezuny commented on #86
Hi @angelstakepool, we have added a change a while back to specifically take care of this. Thanks for the suggestion!

[2022-04-20 10:00] #86 closed, assigned to nobody

[2022-04-20 10:01] #85 closed, assigned to nobody

[2022-04-20 10:08] mezuny commented on #87
Hey @Pr0phecy77, @QCPOLstakepool  and @EGMSSE. This is on our to do for sure! I expect we will add this relatively soon (hopefully within a month). Thank you for your feedback!

[2022-04-20 10:08] #87 closed, assigned to nobody

[2022-04-20 10:11] mezuny commented on #81
Hi @harish-codes, we have currently implemented a basic export functionality, and will expand on this in the future. This will require some additional work though. Thank you for your suggestion!

[2022-04-20 10:11] #81 closed, assigned to nobody

[2022-04-20 10:14] marcuspuchalla commented on #80
Thanks for the suggestion but we currently concentrate on the Cardano and do not have any plans to support these chains.

[2022-04-20 10:14] #80 closed, assigned to nobody

[2022-04-20 10:16] mezuny commented on #78
Hi @Adaguppy, we'll add this to our suggestions, and it (and fingerprint biometric authentication) is definitely on our radar. I can't say if and when it would be implemented though. Thank you for the suggestion!

[2022-04-20 10:16] marcuspuchalla commented on #79
This is already implemented in the current version, please have a look and feel free if you have any suggestions.

[2022-04-20 10:16] #79 closed, assigned to nobody

[2022-04-20 10:17] #78 closed, assigned to nobody

[2022-04-20 10:18] #77 closed, assigned to nobody

[2022-04-20 10:19] mezuny commented on #76
Hi @mplomin, thanks for this suggestion, you're completely right! It bothered me too, and it should be fixed in most places for next release by the end of (hopefully) this week.

[2022-04-20 10:19] #76 closed, assigned to nobody

[2022-04-20 10:21] mezuny commented on #74
@mermino currently no ETA yet

[2022-04-20 10:21] #74 closed, assigned to nobody

[2022-04-20 10:22] #73 closed, assigned to nobody

[2022-04-20 10:26] mezuny commented on #70
@hodlonaut We have discussed and will look into ways to add a little more information. We do already prefer SPOs in our explorer. I think further explanation or in-depth information would be best left up to Cardano documentation

[2022-04-20 10:26] #70 closed, assigned to nobody

[2022-04-20 10:28] mezuny commented on #68
Hey @ccgarant, agreed, we should give a more descriptive notification of what is required to stake your ADA. We've added it to our to-do list to address this 😄 Thanks for your suggestion

[2022-04-20 10:28] #68 closed, assigned to nobody

[2022-04-20 10:30] marcuspuchalla commented on #67
Thanks for the suggestion. We have this feature planned for one of the upcoming releases.

[2022-04-20 10:30] #67 closed, assigned to nobody

[2022-04-20 10:30] mezuny commented on #66
Hi @wout, sorry for not getting back to you earlier. We have been very busy the past months. Such problems should not occur anymore, and if they do should be edge-cases. Please let us know if you've experienced it recently, we will close the issue for now.

[2022-04-20 10:30] #66 closed, assigned to nobody

[2022-04-20 10:32] wout commented on #66
No worries, I understand. :)

I haven't noticed it lately, so all is well!

[2022-04-20 10:38] mezuny commented on #62
Hi @huths0lo, I believe we are currently respecting the 'provided' amount of decimals, cbTHC also looks good in my wallet. We will close the Issue for now. Thanks for reaching out!

[2022-04-20 10:38] #62 closed, assigned to nobody

[2022-04-20 10:39] mezuny commented on #61
Why the wallet is not Open Source?

There are several aspects to this topic.
1) We are a very small team and are trying to create an income from the hard work we put into Eternl.
2) If we'd open source the code a larger company with a marketing team could easily rip us off.
3) With the code being open source we would see dozens of scammer sites trying to steal peoples phrases, much more convincing

[2022-04-20 10:39] #61 closed, assigned to nobody

[2022-04-20 10:40] #60 closed, assigned to nobody

[2022-04-20 10:41] mezuny commented on #59
Hi @MadOrkestra, thanks for reaching out, this for now should be available in basic form in our export as csv functionality.

[2022-04-20 10:41] #59 closed, assigned to nobody

[2022-04-20 10:42] #58 closed, assigned to nobody

[2022-04-20 10:43] mezuny commented on #57
@gibsonmedia247 Thanks for the suggestion! We are currently overhauling the address book which will now be enabled by default. If you have any specific suggestions after we release 1.6.3, please let us know!

[2022-04-20 10:43] #57 closed, assigned to nobody

[2022-04-20 10:46] marcuspuchalla commented on #56
We show a badge for this which should make it more clear that the delegation is going to be changed.
Feel free to comment if you have any more suggestions on that topic. Thanks again for the suggestion.

<img width="252" alt="Bildschirmfoto 2022-04-20 um 12 44 15" src="https://user-images.githubusercontent.com/89977979/164214533-4911151b-a626-473e-972e-cbf424feff49.png">

[2022-04-20 10:46] #56 closed, assigned to nobody

[2022-04-20 10:49] mezuny commented on #52
We have added this functionality in our most recent release. If you have any feedback, do please let us know!

[2022-04-20 10:49] #52 closed, assigned to nobody

[2022-04-20 10:50] mezuny commented on #51
Hi guys, again thanks for your suggestions here. We're actively looking into multi-language support at this time, and will let you know if there's any major progress!

[2022-04-20 10:51] #48 closed, assigned to nobody

[2022-04-20 10:53] mezuny commented on #35
Hey guys, we'll close this ticket as we've added this functionality a while ago. Thanks for reaching out!

[2022-04-20 10:54] #35 closed, assigned to nobody

[2022-04-20 10:55] mezuny commented on #34
Hi @pmcl77, we're considering adding 'overview' pages in the future, but this is far up the backlog. Thank you for the suggestion

[2022-04-20 10:55] #34 closed, assigned to nobody

[2022-04-20 10:56] mezuny commented on #33
Hi @pmcl77, support for this has been added in a basic form, we will expand on it in the future, but this requires additional work. It is on our radar to do so, so we'll close this issue for now.

[2022-04-20 10:56] #33 closed, assigned to nobody

[2022-04-20 10:56] #31 closed, assigned to nobody

[2022-04-20 10:59] #21 closed, assigned to nobody

[2022-04-20 11:02] mezuny commented on #14
Hi guys, we have a basic export functionality available at this point and will expand on it in the future. Thanks for the suggestions!

[2022-04-20 11:02] #14 closed, assigned to nobody

[2022-04-20 11:03] #12 closed, assigned to nobody

[2022-04-21 10:14] adavault-ops commented on #91
Thanks for considering. We have found a possible workaround by extending existing capabilities, which we can use to prototype, but this approach would be much simpler and would confer a competitive advantage for the ecosystem (Metamask permits [signing](https://docs.metamask.io/guide/signing-data.html) but not creation of a shared secret).

[2022-04-22 06:55] Scitz0 commented on #62
Just to add some clarification. Once token details/metadata is pulled, its locally cached in browser storage to save on loading time and reduce load on backend api's serving the data. If metadata is changed after this, you can manually refresh the data by pressing the refresh button in modal header next to token title.

[2022-04-22 07:01] Scitz0 commented on #57
As mentioned this now works a bit differently. Address input step on send page has seen some big changes in 1.6.3. If you press address book it will now open in a modal to not clutter the main UI. The input box also now supports autocomplete and is my preferred way to access entries in the address book.

[2022-04-22 08:21] Scitz0 commented on #94
Feature request added on internal todo. It just needs to be made clear that its a local note and not synced. Any browser storage clearing, manual or automatic by browser, or indexeddb corruption will make notes unrecoverable. Exact details for implementation not thought through but most likely will be part of wallet json so one could backup/sync notes this way.

[2022-04-30 17:41] grepeverything opened #113 "Withdraw Rewards Text"
The text for the Withdraw Rewards section is misleading.

Your rewards are automatically part of your delegated stake. There is no need to withdraw rewards other than sending them away.

I believe rewards are not included when one is voting. This would be a good reason to withdraw them as well.

[2022-05-02 23:41] Branlon opened #114 "Typo on the Create Wallet page"
See the attached screen capture showing the typo: managemer.

<img width="465" alt="Managemer" src="https://user-images.githubusercontent.com/95756427/166343050-f4ebf310-fcdd-4896-819f-ac14236dfaff.PNG">

[2022-05-03 14:42] marcuspuchalla commented on #114
Thank you very much for that hint. 👍
We will fix this in the next release.

[2022-05-03 14:45] marcuspuchalla commented on #113
Thank you very much for your comment.

You are correct; voting power only considers the balance in UTxOs. So the rewards will not count towards that voting power.

We will adjust the text, taking this fact into account.

[2022-05-05 06:53] ADAttitude commented on #85
"Didn't had the time yet to look into it." -> "close this issue" :-)

[2022-05-05 07:05] ADAttitude opened #115 "NFT with IPFS link + web argument makes the wallet crash"
I'm making some tests for a NFT collection whose content is displayed as an HTML page.
The HTML page is included in the NFT as an IPFS link. In addition, some web arguments have to be given to the page.
However, this configuration makes the wallet block forever when clicking on the "Open On-Chain File" button

![image](https://user-images.githubusercontent.com/86405567/166875991-5ee3efcf-8eb3-4653

[2022-05-06 16:09] eode opened #116 "Public Key (xpub) is incorrect"
By following the process:

[code]

I receive a different key than is provided by `[wallet]->Settings->Export Wallet and Transaction History->Export Account Pub Key`.

The former works with sites (at least Koinly) that accept a Cardano Public Key.  The latter does not, and does not match the Public Key from Daedalus or Yoroi.

Using Chrome Eternl Extension v1.6.4 in Brave.

[2022-05-06 18:38] jianan1104 opened #117 "Want Chrome Extension Language Support Chinese"
Hey, team.

I am a junior developer from Taiwan. Love Cardano and Eternl (ccvault).

In order to make Chinese users have a better experience when using Eternl, I hope the team will add an option to switch between Simplified Chinese/Traditional Chinese. If there is any need for help here, welcome! I'd be happy to assist with translation.

Thanks.

[2022-05-07 14:34] mezuny commented on #115
Hi @ADAttitude, thanks for reaching out! Could you please test on v1.7.0 if this behavior still happens for you? We have made some changes to this between 1.6.4  > 1.7.0

[2022-05-07 14:35] mezuny commented on #117
Hi @jianan1104, thanks for reaching out! We certainly do plan to add language options in the future, but it'll require a substantial amount of restructuring on our end. We appreciate the offer! Will keep this in mind when we start work on it!

[2022-05-07 14:49] MarcelKlammer commented on #116
Could you please generate an example using
[code]
And show what the three strings look like.

[2022-05-07 19:30] ADAttitude commented on #115
Hello. The "Open On-Chain File" is not there anymore. I don't know if it is the expected behavior ?
![2022-05-07 21_28_49-Eternl - a Cardano community wallet](https://user-images.githubusercontent.com/86405567/167269045-20f0c4e4-b596-4aec-b196-1d9eedb9e1d3.png)

[2022-05-08 03:46] bmelville opened #118 "Feature Request: Export Transaction History CSV in local timezone"
When viewing transaction history in the app, transactions are shown in local time. However, when exporting transactions to CSV, they are exported in UTC.

It would be helpful to be able to export transactions in the same timezone they are shown in the main app, especially for use in other applications where it is imperative to maintain timezone consistency across transactions from different wallet

[2022-05-09 09:50] marcuspuchalla commented on #115
Hello @ADAttitude, thanks for the comment. Removing the "Open On-Chain File" is a bug and will be resolved in the next release.

I had a look at the specific NFT, and for now, I'm afraid we won't be able to display it as you expect it to be shown. Or as the creator of the NFT intended to. Please let me explain why this is not possible at the moment.

When opening the NFT in Eternl, this will be sh

[2022-05-09 11:51] refi93 opened #119 "Eternl addon content script failing to load csl-v10.0.4.wasm on all web pages"
Hi, it seems a recent update of eternl addon resulted in the content script loading `csl-v10.0.4.wasm` from a relative path which e.g. for https://www.amazon.com/ obviously doesn't exist and results in a failed fetch request being logged in the console or even an unhandled exception, depending on the way the host website handles unknown paths:

[code]

To reproduce it, just install latest eternl a

[2022-05-09 11:57] marcuspuchalla commented on #119
Thank you for reporting that issue.
We will have a look and make sure this will be fixed asap.

[2022-05-09 13:40] ADAttitude commented on #115
Hi @marcuspuchalla, and thanks for this detailed response.
I will proceed as you explained then.
I think the ticket may be closed.

Thanks

[2022-05-09 13:40] #115 closed, assigned to marcuspuchalla

[2022-05-10 19:44] chriswill commented on #119
This was a real pain.  I'm a web developer and all of a sudden *my app* started throwing unhandled exceptions, because I had the Eternl extension turned on and that request fires on all browser requests, even if you aren't using Eternl at the time.

Had to disable the extension.

[2022-05-12 11:59] tomas1433 commented on #119
@chriswill  did you found out how to disable   Eternl wallet extension, i am in the same situation ...

[2022-05-12 12:03] tomas1433 commented on #119
ok i got it disabling the extensions on chrome... what a mess lol

[2022-05-17 14:25] eode commented on #116
A development unused wallet:
[code]

[2022-05-17 16:44] MarcelKlammer commented on #116
Ok, so you need to decode bech32 and then encode again bech32 with the acct_xvk prefix instead of xpub.

[2022-05-17 21:24] eode commented on #116
[code]

Ah, and that's the checksum, altered due to different prefix?

Noted.  Just FYI, Yoroi also has a different format than either of these (and that works for me too)

I'll see if I can file a bug with the Tax site to also handle your xpub prefix.  ..to my knowledge, there's no specific format that's *the* account public key for Cardano.  That's something that should be taken up as a bug with

[2022-05-17 22:16] Scitz0 commented on #116
I guess CIP 5 standard should be used here.
https://cips.cardano.org/cips/cip5/

acct_xvk seems to be the correct one for CIP-1852's extended account public key

[2022-05-17 23:43] eode commented on #116
Agreed, that looks like the one.

[2022-05-18 06:05] thisHermit opened #120 "eternl defaulting to mainnet after update"
I am unable to use my testnet wallet to connect to testnet dapps as it defaults to mainnet instead of testnet.

[2022-05-20 23:46] Andy4560 opened #121 "SVG's"
Hi, my cnft which is a SVG is not showing in my Eternl wallet. Any plans to support this in the future?

[2022-05-22 06:54] eNapoles opened #122 "Feature Request: Spanish language"
Cardano's Spanish-speaking community is one of the largest in the ecosystem. I would love to contribute my couple of lovelaces to the project by translating Eternl wallet into Spanish.

Best regards.

[2022-05-23 14:09] marcuspuchalla commented on #120
Can you please try again using the latest browser extension and let me know if it worked ?
I just tested it and it works fine here.

Please first switch to Testnet, then open a DApp Browser Testnet app and try again.

[2022-05-23 14:10] marcuspuchalla commented on #121
Hello @Andy4560 ,
could you please provide us with the Policy ID for your NFT, so we can have a look.

[2022-05-23 14:16] marcuspuchalla commented on #122
Dear @eNapoles ,

Thanks for reaching out. We already have this feature planned for version 2. Due to being a small team, we currently do not have the resources to implement the necessary changes needed to translate the whole application.
We greatly appreciate that you offered help and will come back to your offer as soon as it's possible for us.

best regards, Marcus

[2022-05-23 14:20] marcuspuchalla commented on #118
Hello @bmelville, Thanks you for reaching out.
We added this feature request to our backlog and will implement it as soon as possible.
We'll let you know when it is released in here!

best regards, Marcus

[2022-05-23 16:23] thisHermit commented on #120
Sorry for not updating this sooner. It works fine now.

[2022-05-23 16:23] #120 closed, assigned to marcuspuchalla

[2022-05-24 00:41] Andy4560 commented on #121
b000e9f3994de3226577b4d61280994e53c07948c8839d628f4a425a - policy ID
and i will attach a couple of screenshots, notice how they do not show the
image/svg file

On Mon, May 23, 2022 at 9:11 AM Marcus Puchalla ***@***.***>
wrote:

[2022-05-25 14:25] #114 closed, assigned to marcuspuchalla

[2022-05-25 14:29] marcuspuchalla commented on #112
Dear @docter-tirrud ,

we implemented the change regarding searching for asset fingerprint.
Exporting of the fingerprint in a CSV export is not yet planned but we will put this in List of requested changes.
Therefore I'll now close this ticket.

If it does not work for you feel free to open it again or create a new one.

Best Marcus

[2022-05-25 14:29] #112 closed, assigned to marcuspuchalla

[2022-05-31 15:31] TheStophe commented on #19
I would second supporting the Stake Pool Ranking Calculation disclosure:
- provide assumptions & ranking equation
- provide different ranking filters (e.g. eternl, daedalus legacy, new custom?)

[2022-06-06 07:36] Gaaarz opened #123 "Ledger nano secondary market problems in the cardano ecosystem"
Hello,

I love your wallet. I have several issues with the combination of a Ledger Nano X. If I try to sign data:

![image](https://user-images.githubusercontent.com/102361550/172116454-8417ffb4-0b0c-45b3-97a8-d189b4bee564.png)

I will get:

![image](https://user-images.githubusercontent.com/102361550/172116506-30df545b-3a23-4da7-86f0-0d0f72a5fc53.png)

Also if I want to buy on the secondary marke

[2022-06-06 13:49] Scitz0 commented on #123
Hi, ledger doesn't support arbitrary data signing yet. Please use a regular mnemonic wallet for this.

Regarding jpg.store issue, please describe a bit more what the actual issue is.

[2022-06-06 22:31] abdellahaski opened #124 "Feature request: custom submit endpoint on mobile"
Hi,

Would be great if you support the custom submit endpoint on Android.

Been using this feature on PC with my cardano node, would love to be able to do the same on my smartphone on the go.

[2022-06-11 19:26] Gaaarz commented on #123
Thank you for clarification. The jpg.store issue resolved itself. In the past when I tried to buy something on jpg.store the wallet said that a witness address is missing. Think this is fixed in the meantime. Thank you!

[2022-06-11 19:26] #123 closed, assigned to nobody

[2022-06-21 15:18] marcuspuchalla commented on #124
Hello @abdellahaski

Due to problems with CORS policy, adding a custom endpoint on the web or mobile app version was not implemented yet.
We have decided to add this in the future and have already created an internal task for it.

Once it has been implemented and is included in a release, we will let you know and close this task.

Thank you for your request!

best regards, Marcus

[2022-06-21 15:20] marcuspuchalla commented on #113
We adjusted this part of the text to include the information about the voting.
Thanks again for the help!

[2022-06-21 15:20] #113 closed, assigned to marcuspuchalla

[2022-06-29 11:41] marcuspuchalla commented on #92
Hello @kaskjabhdlf,

We've implemented the feature, and its already usable in the wallet.

You can now lock UTXO in the UTXO List view in your wallet. There is a little lock on the left of a UTXO.
This will prevent the UTXO from being included in a transaction.

On the Send page, you can also see how much ADA are locked by those locked UTXOs (see: "By locked UTxOs")

If you have any more suggestio

[2022-06-29 11:41] #92 closed, assigned to nobody

[2022-06-29 11:52] marcuspuchalla commented on #119
Hello @refi93
We fixed this in one of the last versions. Sorry that we did not reach out earlier.

If you still have problems, please try to update to the latest extension.

Feel free to open this again if you still have problems.

Best Marcus

[2022-06-29 11:52] #119 closed, assigned to nobody

[2022-06-30 10:52] adamczykm opened #125 "Be more vocal about CCWallet not being OSS and why."
A crypto wallet is one thing that has full control over your private keys. If you have strong reasons for obfuscating its source code, you should be more vocal about them and educate your users about risks and their source of trust.

[2022-06-30 13:53] mezuny commented on #125
Hey Adam,

There are several aspects to this topic.
1) We are a very small team and are trying to create an income from the hard work we put into Eternl.
2) If we'd open source the code a larger company with a marketing team could easily rip us off.
3) With the code being open source we would see dozens of scammer sites trying to steal peoples phrases, much more convincing then it is today.

We st

[2022-06-30 19:15] jtmoderate876 opened #126 "An earlier request for how do I rename a wallet/sub-account is marked as completed. How?"
How do I rename wallet/sub-account?

[2022-07-06 04:46] SevenbitsShubham opened #127 "Cardano Testnet support."
After connecting to the Cardano Testnet it is showing 'status: no connection'. Is Eternl/ccWallet  is not supporting Cardano  testnet. Or is there any other way to  connect Caradno Testnet.

[2022-07-15 22:32] HeptaSean commented on #116
Just as a note: This topic was also discussed in: https://forum.cardano.org/t/derive-addresses-from-daedalus-wallet-public-key/104011?u=heptasean

Yoroi shows a pure hex string of the extended public key, Daedalus uses the `acct_xvk1` BECH32 format, and Eternl the `xpub1` BECH32 format.

There is some example code to derive the stake address from all of these using https://github.com/dcSpark/carda

[2022-07-15 22:34] HeptaSean commented on #126
You can rename a wallet in Settings → Name and Password.

Accounts do not have names that can be set in Eternl.

[2022-07-15 22:43] HeptaSean commented on #121
If I take the IPFS URLs from your mint metadata in https://cardanoscan.io/transaction/97070a10ca4b993cf2514fa7c1b19b2e6294b2a15c8ce09fa6e637d827e1a3ea?tab=metadata, my IPFS node says:
[code]

Probably, the URLs should be like `ipfs://QmVhX9mBnxpMT4yV1cqftNhisfUKAMVxXXUCp2FEeXYcw3` instead of `ipfs://ipfs/QmVhX9mBnxpMT4yV1cqftNhisfUKAMVxXXUCp2FEeXYcw3`.

Might that be the issue, here?

[2022-07-15 22:45] HeptaSean commented on #105
This is fixed. Probably already some time ago.

[2022-07-15 22:45] #105 closed, assigned to nobody

[2022-07-15 23:04] HeptaSean commented on #107
Looking back at this after some months.

The new (not so new anymore) token view *is* nice.

But it does not really address, what I wrote above.

If a token is an NFT (or misuses the on-chain CIP 25 metadata for an FT), you show the metadata as raw JSON. I can see, where the attributes came from.

But if it uses the Cardano Token Registry, the source of those metadata is not shown. Could you also

[2022-07-16 08:12] Scitz0 commented on #126
We will redesign version 2 of Eternl to allow for account naming. The flow of wallet/accounts will change a bit. But this is on the horizon so for the near term, you will have to settle for wallet name.

Be assured that the request is not forgotten or ignored. Lets keep this issue open for now to let users know its handled and added to todo.

[2022-07-16 08:22] Scitz0 commented on #107
Hi, shouldn't be a problem to add a raw json field for token registry metadata just like for NFT metadata. Link to GitHub would not be possible as we have it setup right now. I'll add it as an internal feature request for team members to look into.

[2022-07-16 11:45] Scitz0 commented on #107
I'm actually closing this again as it doesn't add any value. This due to a couple of reasons.

1. Token metadata registry entries are validated before merged(or should be). So only contains entries that are valid.
2. The fields in the TMR are fixed, and we display them if available. Decimals etc are not displayed but can be seen in the amount at the top.

[2022-07-16 11:45] #107 closed, assigned to nobody

[2022-07-23 17:18] johnshearing opened #128 "Verify That a Receiving Address Is Controlled By Hardware wallet."
In Yoroi (as shown in the screenshot) we have the ability to verify that our hardware wallets can indeed control the displayed receiving addresses.
This is protection from a hacked or imposter version of Eternl that would display a receiving address on screen which is actually controlled by the attacker rather than our own hardware wallets.
Is this same functionality built into Eternl?
If not, may

[2022-08-13 14:35] knasiotis opened #129 "Tokens should display their value in selected currency"
I have some SUNDAE in my wallet let's say. Why not implement a feature that shows how much they're worth in €?

[2022-08-13 15:02] Scitz0 commented on #129
Thanks for the suggestion but we already have this implemented in dev branch. Will soon make it into a release I think. Watch out for some nice updates on this area in the upcoming release(s).

[2022-08-23 15:29] futuristudios commented on #122
add translation label

[2022-08-24 12:22] allenyllee opened #130 "Eternl extension conflict with the site miro.com"
If I enable Eternl extension (version 1.9.0) in Brave (Chromium 104.0.5112.102), and go to the miro site:
https://miro.com/app/dashboard/
the screen will keep loading forever;
<img width="960" alt="Snipaste_2022-08-24_20-17-30" src="https://user-images.githubusercontent.com/3991134/186416259-dcc86bfd-8c65-4c40-9338-e8cbb2e973b4.png">

However, if I disable Eternl, the site will back to normal:
<im

[2022-08-30 06:58] marcuspuchalla commented on #130
Thank you for the report. We are currently investigating and will come back to this issue soon.

[2022-09-07 08:39] bits4fun opened #131 "Feature request: Integrate dex.adax.pro in Dapp browser (eternl.io/app/mainnet)"
Hi,

dex.adax.pro only works with Chrome/Brave extension, I would love to see integration of dex.adax.pro, since staking options of ADAX and ADAO tokens.

[2022-09-12 21:46] michal007 opened #132 "FEATURE REQUEST: wallet restore from ledger-created recovery phrase"
Ledger nano devices generate different wallet addresses than Eternl (and other software wallet apps) from the same recovery phrase. If someone would break or lost ledger hardware wallet there are no quick and user friendly way to get access to the funds. It's either purchase another ledger or manually generating private keys from ledger-created recovery phrase which would require a lot of technica

[2022-09-13 13:25] mezuny commented on #131
Hi @bits4fun, Thanks for the suggestion! This is up to their team to integrate with the dapp browser

[2022-09-13 13:28] mezuny commented on #132
Hi @michal007, thanks for the suggestion! It has been brought up before, and will consider adding this feature. While it would make it easier for people with bad intentions to steal from a 'Ledger wallet' in that case, there indeed are also use-cases for people with broken devices for sure

[2022-09-13 13:30] mezuny commented on #128
Hi @johnshearing, we currently show any external address outside of the current active wallet as external, but should indeed start showing something like this if the other wallet is in the Eternl UI (regardless of if Hardware wallet or not I'd say, this would be valuable for transferring between any 2 wallets in the same UI). Thank you for your suggestion!

[2022-09-13 13:31] mezuny commented on #127
Hi @SevenbitsShubham, thanks for reaching out. Which of the testnets were/are you trying to use? We support both the pre-production and preview testnets that are newly released after the 'old' testnet was discontinued

[2022-09-13 14:44] ghost commented on #132
I wanted to request this feature as well. If the Ledger device is used properly, it doesn't make it any easier to steal the funds. Please add this feature, it would be really helpful for a lot of people, including myself.

[2022-09-14 11:01] marcuspuchalla commented on #130
We looked into this issue, and there is, unfortunately, nothing we can do on our side to fix this problem.

Our recommended fix is to deactivate the plugin when using this site. Deactivating will not affect the wallets you have in the app. You might also create another profile for using this site where you do not install our extension.

[2022-09-14 11:01] #130 closed, assigned to nobody

[2022-09-14 12:01] marcuspuchalla commented on #42
This feature is now available in Eternl using our TxBuilder.
Under "UTxO Input(s)" you can select the UTxOs you want to use for use in the transaction.

[2022-09-14 12:01] #42 closed, assigned to nobody

[2022-09-14 12:06] marcuspuchalla commented on #64
Hello, @rosieks ,
Do you still have this issue? A lot has changed since you mentioned this issue, and I'm curious if we still need to look into this again.

[2022-09-14 14:13] marcuspuchalla commented on #75
@docter-tirrud I looked at this issue again and found that the QR code will be detected fine when you use "Light mode" in Nami. When using the dark mode, the QR code also gets inverted, which per best practice for QR codes, should not be done, as some scanners have a problem detecting such codes. We cannot change our QR code scanner at the moment, so I suggest you switch to the light mode when sca

[2022-09-14 14:13] #75 closed, assigned to nobody

[2022-09-14 14:50] marcuspuchalla commented on #124
Hello @abdellahaski

The custom API endpoint can now also be configured on the mobile app.
Please make sure to configure your submit API endpoint and then give it a try.
If you have any more questions, feel free to comment on this issue.

[2022-09-14 14:50] #124 closed, assigned to marcuspuchalla

[2022-09-14 14:52] #125 closed, assigned to nobody

[2022-09-14 15:04] abdellahaski commented on #124
Thanks @marcuspuchalla for the reactivity.
I test it out but I still get the CORS error.
![image](https://user-images.githubusercontent.com/10819089/190191937-efa6410f-763b-4a80-a1d2-8b85a21acc5b.png)

Not sure if the update still didn't reach me or what. I'm on the beta version btw (Android)

[2022-09-15 14:27] marcuspuchalla commented on #126
With the release of version 1.9.2, you can now name your accounts.
For a complete change list, see https://twitter.com/eternlwallet/status/1570340765179715586

[2022-09-15 14:27] #126 closed, assigned to nobody

[2022-09-15 14:29] marcuspuchalla commented on #118
With the release of version 1.9.2, you can export the history in local time.
There is an option on the dialog, see here:

<img width="615" alt="Bildschirmfoto 2022-09-15 um 16 28 40" src="https://user-images.githubusercontent.com/89977979/190430593-7bdcf8cd-5f6b-4e67-85a1-f85bd4c1fd8f.png">

[2022-09-15 14:29] #118 closed, assigned to marcuspuchalla

[2022-09-15 14:57] marcuspuchalla commented on #71
@Mit4Code, this feature is now available.
If you restore a wallet with a passphrase for a currently locked wallet, you will see this dialog and can recreate that wallet. Please notice that the settings for that wallet will also be reset.

If you have any other questions, feel free to comment here.

<img width="620" alt="Bildschirmfoto 2022-09-15 um 16 54 17" src="https://user-images.githubusercont

[2022-09-15 14:57] #71 closed, assigned to nobody

[2022-09-15 15:01] marcuspuchalla commented on #129
@knasiotis as of today, with release 1.9.2 you can see the token value when you open the token detail view.
The value will be displayed in the currency you have configured under "App Preferences" -> "Currency and Regional Options"

<img width="356" alt="Bildschirmfoto 2022-09-15 um 17 00 23" src="https://user-images.githubusercontent.com/89977979/190438243-d41f144f-e282-4c35-a065-4d4e300092a4.png"

[2022-09-15 15:01] #129 closed, assigned to nobody

[2022-09-15 15:05] marcuspuchalla commented on #116
@eode As of today with release 1.9.2 you have the option to switch between different output formats.
Please have a look and let us know if it works for you.

<img width="280" alt="Bildschirmfoto 2022-09-15 um 17 02 59" src="https://user-images.githubusercontent.com/89977979/190439457-d3661d0d-5e3f-4df5-a205-c606f7200bc6.png">

[2022-09-15 15:07] marcuspuchalla commented on #127
The new test networks should all work fine. As @mezuny said we support both new networks.
If you still have some connection errors please let us know.

[2022-09-15 15:07] #127 closed, assigned to nobody

[2022-09-29 18:59] eode commented on #116
Nice, thanks!

[2022-09-29 18:59] #116 closed, assigned to nobody

[2022-10-14 00:56] Hannsek opened #133 "Connect v9 integration"
Hello ccwallet team!

I am writing you from Trezor company with a message that we released new version of Connect. It is v9 and is now GA. You can find it here: https://www.npmjs.com/package/@trezor/connect/v/9.0.0

If you have any questions or want to report a problem, feel free to reach us.

[2022-10-14 02:49] Scitz0 commented on #133
Hi, thank you for the information.

Its on the top of the list to get implemented when we come home from our community event trip over to the US. So you can expect it to be implemented within a few weeks.

[2022-10-14 10:55] Hannsek commented on #133
Hello,thank you very much for the response.Enjoy the trip. Jan Šetina732 50 37 5313. 10. 2022 v 22:49, Ola [AHLNET] ***@***.***>:﻿
Hi, thank you for the information.
Its on the top of the list to get implemented when we come home from our community event trip over to the US. So you can expect it to be implemented within a few weeks.

—Reply to this email directly, view it on GitHub, or unsubscribe

[2022-10-20 00:56] mrvfino opened #134 "Feature Request: Deep linking to allow mobile apps to externally sign transactions."
Right now, the only possible way to make a native mobile app work with signing transactions is to asks for the user's seed phrase during setup to have the necessary keys.  Having a deep link feature would give confidence and convenience to users to use native mobile apps since they can use an established wallet to sign their transactions with. This would open up a lot of possibilities for native m

[2022-10-20 06:58] Scitz0 commented on #134
Thanks for the suggestions, this is something we have already started work on.

[2022-10-20 08:11] mrvfino commented on #134
That's great @Scitz0 !

[2022-10-25 13:29] andrez-0101 opened #135 "Could you add the option to connect safepal hardware wallet?"
I have a Safepal wallet, and would like to be able to connect to Eternl, could you add this option ?

[2022-10-30 18:24] PierreManos opened #136 "Feature request: Add $adahandle support in the wallet address book entries"
Hi,
It looks like $adahandle are not recognised by the wallet address book. Maybe a "Resolve ADA Handle" like in the "Send" tab button could be useful here

[2022-11-01 21:45] perplexusdev opened #137 "Feature Request: Support for image metadata split into array on Tokens List page"
IPFS Content Identifier v1 is 66 bytes in length, so it must be split into an array when used in cardano metadata to avoid the <=64 bytes per line constraint.
When this technique is used for the "image" attribute of NFT metadata (following https://cips.cardano.org/cips/cip25/), the metadata will not be read properly by Eternl and the image will not display in the Account/Tokens List page.

[2022-11-01 21:50] perplexuslabs commented on #137
IPFS Content Identifier v1 is 66 bytes in length, so it must be split into an array when used in cardano metadata to avoid the <=64 bytes per line constraint.
When this technique is used for the "image" attribute of metadata (following https://cips.cardano.org/cips/cip25/), the metadata will not be read properly by Eternl and the image will not display in the Account/Tokens List page.

[2022-11-04 10:09] brouwerQ opened #138 "BUG - Custom TX builder not behaving correctly"
When I try to build a custom tx, it's not doing what I tell it to do. E.g. I want to split an utxo into two utxos with the same destination address and after building the tx, it just creates one utxo with the combined amount. Also if I e.g. want to combine an utxo with little ADA and an NFT and an utxo with more ADA into two utxos, one with more ADA and the NFT and one with little ADA, both with t

[2022-11-09 09:41] ResearchGuild opened #139 "Feature Request: Wallet integration with Koinly"
Koinly is a crypto tax app: https://app.koinly.io/p/wallets/select?page=2&type=wallet

Currently, Koinly includes Daedalus, Nami, Yoroi and Adalite ADA wallet support. It will be helpful for EOY tax and accounting to have Eternl wallet included on this and other major crypto tax apps.

[2022-11-09 09:42] #139 closed, assigned to nobody

[2022-11-09 09:43] ResearchGuild commented on #139
Just saw you listed under CcVault. Please disregard.

[2022-11-22 21:32] melroy89 opened #140 "I sold all my defi/Ergo because you don't have a Firefox plugin"
No firefox plugin? Bye bye.

[2022-11-22 21:32] #140 closed, assigned to nobody

[2022-11-22 21:33] melroy89 commented on #140
Related: https://github.com/ccwalletio/tracker/issues/110

Stupid firefox. I actually also gonna hate Firefox more and more with those closed add-on system.

[2022-11-22 21:33] melroy89 commented on #110
Damn, I gonna hate Firefox more and more by the day.

[2022-11-22 21:34] melroy89 commented on #140
Still I sold it all.

[2022-11-28 04:02] luccascomvoce opened #141 "Feature Request: Portuguese language"
I would like to see the interface translated into Portuguese, as well as Yoroi, which supports Portuguese among several other languages. I am willing to collaborate.

![image](https://user-images.githubusercontent.com/65538684/204191384-1447146a-2bb3-4b9f-96c5-d7234d9b1d00.png)

[2022-11-28 12:01] aasalmeida commented on #141
Pode contar comigo

[2022-11-28 19:26] jankun4 opened #142 "BUG - Sometimes transactions are not signed correctly."
I'm testing the wallet and I found some weird behaviour. Sometimes after signing transaction the vkwitness list is empty. I have no idea why this happens. I hoped to just look in the source code to see why this would be the case, but since there is no way to do that I'm hoping I can get some insight from you.

Transaction that fails to be signed:
* before signing:
[code]

* after signing:
[code]

[2022-11-29 18:07] Mher594 opened #143 "Rewards chart is not visualizing properly"
Rewards chart is not visualized properly. The issue happened for quite some time but not so often. Currently it seems to happen for me all the time. Previously refreshing fixed this issue, but now it does not have any effect.
Attaching rewards chart from Eternl and Yoroi for comparison.

![incorrect_rewards_chart](https://user-images.githubusercontent.com/4984553/204610282-7942c5c3-b548-4e59-9339-

[2022-11-30 14:27] mezuny commented on #135
Hi Andrez, thanks for the suggestion! Sorry for not getting back to you earlier.

I will add them to our backlog of tasks, and see what's possible on our end, which will likely be for version 2 of Eternl

[2022-11-30 14:30] mezuny commented on #136
Hi PierreManos!

Thanks for your suggestion, we got requested this multiple times, and have implemented this in Eternl at this point! 😄

[2022-11-30 14:32] mezuny commented on #141
Hi @luccascomvoce, thanks for the suggestion and offer! We're currently working on version 2 in which we want to lay the groundwork to start supporting translations properly. I will create a note that you've offered to help out with Portuguese when we get around to it, would you be willing to join our Discord so we can keep track? Thanks again!

[2022-11-30 14:41] MarcelKlammer commented on #137
Please provide a reference token / metadata we can take a look at.

[2022-11-30 14:42] MarcelKlammer commented on #138
Thanks for the report. I guess the Token Fragmentation and advanced utxo management interferes here. We might need an option to strictly use the outputs given, even if addresses are used multiple times

[2022-11-30 15:00] MarcelKlammer commented on #142
Depends. If the utxos are not known to the wallet yet (not synced yet) the utxos are not signed. That might be it.

[2022-11-30 15:04] MarcelKlammer commented on #143
Check the list at the bottom for
Catalyst Voting in e374